<% content_for :title, "#{@talk.title}" %>

<h3>Deltagere</h3>

<%= @talk.talk_type.name %>:
<%= link_to h(@talk.title), talk_path(@talk) %>

<% if @participants.count > 0 %>
    <ol>
        <% @participants.each do |participant| %>
            <li>
                <%=h participant.name %>
            </li>
        <% end %>
    </ol>

    <p><%= @talk.free_places %> plasser igjen</p>
<% else %>
    Ingen deltagere har registrert seg ennå.
<% end %>
