<h1>
    Workshop: <%=h @talk.title %>
</h1>

<% if @participants.count > 0 %>
    <ol>
        <% @participants.each do |participant| %>
            <li>
                <%=h participant.name %>
            </li>
        <% end %>
    </ol>
<% else %>
    none, yet.
<% end %>
