Hei <%= @name %>,

<p>Har du fått med deg det voksende nettverket av agile og lean
entusiaster i Europa? 7-9. september arrangerer ALE
(Agile Lean Europe) sin første konferanse, denne gangen i
Berlin.</p>

<p>Det ville være veldig kult om Norge var sterk representert her.</p>

<p><a href="http://ale2011.eu/call-for-papers/">Meld deg som
foredragsholder</a> eller <a href="http://ale2011.eu/pre-registration/">
Meld deg som deltager</a>

<p>Arrangementskomiteen sier:</p>

<p>We’re organising the ALE 2011 unconference which will happen from
September 7-9 in Berlin. And we would love you to come!</p>

<p>Our goal is to create a European melting pot of Agile and Lean
practitioners with many diverse perspectives and influences.
It is intended as a cross-border, non-profit collaboration event
for mutual learning and continuous improvement. We want you to
participate!</p>

<p>We are reaching out to the European Agile & Lean communities to
come and join us during these 3 days of learning and cross-pollination.</p>

<p>We break the habit! Diversity is key!</p>

<ul>
 <li>We mix a traditional program with open space sessions, lightning talks and keynotes.</li>
 <li>We invite you to bring your families, there will be a spouse and kids program!</li>
 <li>We explicitly invite alien speakers who do not work in the software development domain.</li>
 <li>We want the whole of Europe to join. We already have pre-registrations by people from 28 European countries.</li>
</ul>

<p>~Johannes, for Smidig konferansen</p>

<p><em>Du mottar denne mailen fordi du er registrert i databasen til Smidig2010
som interessert i mail om relevante arrangementer. For å melde deg av lista,
kontakt oss på kontakt@smidig.no. Listen har lav aktivitet og vil ikke bli
til andre aktører.</em></p>