body {
    margin: 0;
    padding:0;
    background-color: white;
    color: #003300;
    font-family: arial, helvetica, sans-serif;
}


#content {
    width: 780px;
    margin: 60px auto;
    position: relative;
    overflow: hidden;
}




#text {
    width: 460px;
    float: right;
    font-size: 22px;
    line-height: 30px;
    font-family: georgia;
}


 p {
    margin: 0 0 16px 0;
    padding: 0;
 }

#title {
    position: absolute;
    left: 0;
    top: 0;
    width: 280px;
    font-size: 14px;
}

#actions {
    width: 280px;
    font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 0;
}

a:link {
    color: #be6700;
    text-decoration: none;
    font-weight: bold;
}


a:active, a:hover {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #999999;
    text-decoration: none;
    font-weight: bold;
}

form {
    padding-top: 0;
    margin-top: 0;
}


#date {
    margin-top:5px;

}

fieldset {
    border: 0;
    margin: -10px  0px 16px 0px;
    padding: 0;
}

#eisenhower {font-style: italic}