div.fieldWithErrors:first-child {
	float: left;
}

div.fieldWithErrors {
	margin-left: 2px
}

#railserrordisplaysux {
	border: 0;
	padding: 0px;
	margin: 0 0 0 -2px;
}

#railserrordisplaysux div.fieldWithErrors:first-child  {
	border: 1px solid red;
	padding: 0;
	margin: 0;
}

#railserrordisplaysux div.fieldWithErrors * {
	border: 0;
	margin: 0;
	padding: 0;
}
