* {
    background: none!important;
}

a {
	color: #cc0000!important
}

h1 * {border: none!important}

h1 img {
	display: none;
}

h1 span {
	display: block!important;
	border: 2px solid red;
	width: 180px;
	height: 150px;
	position: absolute;
	left: 100px;
	top: 50px;
	clear: left;
}

