caption {
  padding-bottom:1em;
  text-align:left;
}

colgroup.locations col {
  position:relative;
  width:33%;
}

div.event {
  float:left;
  font-weight:700;
}

table.legend {
  margin-bottom:1em;
}

table.legend td {
  padding-right:2em;
}

table.schedule {
  border-collapse:collapse;
  margin-bottom:6em;
  width:100%;
}

table.schedule .lyntaler,.categories {
  margin-left:2em;
}

table.schedule ol {
  list-style-type:none;
  margin:0;
  padding:0;
  text-align:left;
}

table.schedule ol li {
  margin:1em 0 1.5em 0;
}

table.schedule ol li.lyntale {
}

table.schedule ol li.tordentale {
}

table.schedule td {
  text-align:center;
  vertical-align:top;
}

table.schedule td.time {
  padding-top:2em;
  text-align:left;
}

table.schedule th,table.schedule td.time,table.schedule td.slot {
  border-color:#ccc;
  border-style:solid;
  border-width:0 0 1px;
  padding-bottom:.5em;
  vertical-align:bottom;
}

table.schedule tfoot {
  display:none;
}

table.schedule th {
  font-weight:700;
  text-align:left;
}

th.location {
  float:right;
  font-style:normal;
  text-align:right;
}

.lyntaler {
  margin-top: .25em;
  margin-bottom: .25em;
}

.salOlympia,.restaurant,.foaje,th.event {
  padding-left:2em!important;
}

.salOslo,
.salStockholm {
  padding-left:5.5em!important;
}

.location {
  font-style:italic;
}

.right {
  float:right;
}

table.schedule caption {
  padding-bottom:1em;
  text-align:left;
}

.workshop {
  padding:1em 0 0.5em;
}

.workshop-full {
  display:block;
  padding:2px;
  margin-bottom:2px;
}


a.button {
  color: #B1E038;
  font-size: 15px;
  font-weight: bold;
  padding:5px 5px 0 5px;
  border-radius:5px 5px 0 0;
  background: none;
  margin-right:1em;
}
a.button:hover {
  text-decoration:none;
  cursor:pointer;
}
a.button.selected {
  color: black;
  background: silver;
}

div.program {
  padding: 5px;
  border-top: 5px solid silver;
}

