/* Aesthetics */
/* This stuff can probably be changed without messing up the layout. */

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('League_Gothic-webfont.eot');
	src: local('☺'), url('League_Gothic-webfont.woff') format('woff'), url('League_Gothic-webfont.ttf') format('truetype'), url('League_Gothic-webfont.svg#webfontzy1Bzklb') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RalewayThin';
	src: url('raleway_thin-webfont.eot');
	src: local('☺'), url('raleway_thin-webfont.woff') format('woff'), url('raleway_thin-webfont.ttf') format('truetype'), url('raleway_thin-webfont.svg#webfontuFJwwJ5I') format('svg');
	font-weight: normal;
	font-style: normal;
}

img {
    border: 0;
}

a:link {
    color: #ff0000;
    text-decoration: none;
}

a:visited {
    color: #880000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active, #menu a:active, #menu li#users_menu a:hover {
    color: #ffcc00;
}

h1, h2, h3, h4 {
	font-family: "LeagueGothicRegular";
	font-weight: normal;
}

h1 {
	background-color: #cc0000;
}

h2 {
    margin: 1em 0 0 0;
    padding: 0;
	font-size: 2.5em;
	text-transform: uppercase;
	overflow: hidden;
	line-height: normal;
}

h3 {
	font-size: 2em;
	padding: 0;
	margin: 1em 0 0 0;
}

h4 {
	font-size: 1.75em;
	padding: 0;
	margin: 0;
}

#wrapper,
#content .quote,
#menu li.active,
#menu a:hover {
    border-style: solid;
    border-color: #cc0000;
}

#wrapper {
    border-width: 0 0 0 20px;
}

#content .quote {
	font-family: 'RalewayThin', sans-serif;
	font-size: 1.3em;
    border-width: 2px 0 0 0;
}

div.errorExplanation li {
    color: red;
}

div.fieldWithErrors, #railserrordisplaysux {
	display: inline;
	overflow: hidden;
}

div.fieldWithErrors input {
	border: 1px solid red;
	margin: 0;
}


#railserrordisplaysux, #railserrordisplaysux * {
	line-height: 2px;
	font-size: 12px;
}



#railserrordisplaysux div.fieldWithErrors  {
	border: 1px solid red;
	padding: 0 1px;
	margin: 0 2px 0 2px;
}

#railserrordisplaysux div.fieldWithErrors input  {
	vertical-align: -2px;
	border: 0;
 }

#railserrordisplaysux div.fieldWithErrors:first-child  {
	border: 0;
	margin: 0;
	padding: 0;
 }


/*



div.fieldWithErrors:first-child {
	background-image: url(../images/exclamation.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 18px;
	margin-left: -18px;
}
*/

/* Layout */
/* Mess with this at your own risk. */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
	min-width: 980px;
	}


/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

#wrapper {
    background: transparent url(../images/2010-vertical.png) -20px 175px no-repeat;
    min-height: 100%;
    border-style: solid;
    border-color: #cc0000;
    border-width: 0 0 0 20px;
	position: relative;
	z-index: 200;
}

#header {
    min-width: 760px;
    overflow: hidden;
	height: 150px;
	position: absolute;
	left: -20px;
	right: 0;
}

h1 {
    margin: 0px;
    padding: 20px;
    float: left;
}

h1 img {
    width: 180px;
}

h1 span {
	display: none;
}

h2.page_title {
	margin-top: 0;
}

#menu {
    min-width: 860px;
    overflow: hidden;
}

#logos {
    float: right;
    width: 300px;
    padding: 25px;
}

#logos a img {
    padding: 0 22px 50px 22px;
    border: 0;
}


#main {
    overflow:hidden;
	padding-bottom: 25px;
	padding-top: 153px;
}

#content {
    text-align:justify;
    position: relative;
    z-index: 100;
    line-height: 1.6em;
	font-size: .85em;
	padding-bottom: 25px;
    padding-left: 250px;
	margin-right: 350px;
}

#footer {
    position: relative;
	margin-top: -260px;
    margin-right: 350px;
    margin-left: 0px;
	height: 260px;
	clear:both;
    background: transparent url(../images/bg.png) no-repeat top right;
	min-width: 610px;
}

#footer div {
    font-size: .75em;
    padding: 1em;
    margin:0;
    position: absolute;
    bottom:0;
    left: 0px;
    right: 0px;
    background-color: #f6f6f6;
	z-index: 4000;
}

#footer .sidene {
    float: left;
}

#footer .arrangoerene {
    float: right;
}

#login {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
    padding: 2px;
    width: 100px;
    height: 20px;
    display: inline;
}

#login p {
    margin: 0;
}


#mail a {
	color: black;
	text-decoration: none;
}

fieldset {
    border: 0;
    margin: 0 0 1em 0;
    padding: 0;
}

#content .quote {
    float: right;
    width: 40%;
    margin: 1em 0 .5em 1em;
    padding: .5em 0;
    text-align: left;
}

div.talk {
	margin: 1em 0 2em 0

}

div.time_and_category, .detail {
	font-style: italic;
	font-size: .85em
}

#breadcrumbs {
	height: 25px;
	position: absolute;
	left: 250px;
	top: -30px;
}

#notifications {
	height: 25px;
	position: absolute;
	left: 250px;
	top: -60px;
}

.comment {
	margin: 1em 0 2em 0
}

#loginform {
	display: inline;
	overflow: hidden;
}

#loginform .email span, #loginform .password span {
	display: inline-block;
	width: 5em;
}

#loginform .button, .forgot_password, .meld_deg_paa {
	margin-left: 5em;
}

.forgot_password {
	margin-top: .5em
}

.submitted_time .user {
	display: inline;
}

.submitted_time {
	font-size: .85em;
}

.passer_for {
	text-transform: lowercase;
}


/* Front page layout */

.row {
	overflow: hidden;
}

.signup, .lyntale, .hvaskjer, .tidligere {
	width: 47%;
	float: left;
}

.lyntale, .tidligere {
	float: right;
}

#fronthead * {
    margin:0;
	padding: 0;
}





/* Form Formatting */

#talk_details, #registration_details  {
	padding-right: 7px;
	text-align: left;
}

#talk_details input,
#talk_details select,
#registration_details .kommentarer label,
#registration_details .type label  {
	display: block
}

#talk_details textarea,
#registration_details textarea,
#talk_details .paastand input {
	width: 100%;
	margin: 0;
}

#personal_details div.field,
#talk_details div.field,
#registration_details div.field, #loginform .field  {
	padding: .25em 0;
}

#new_talk .format *, #new_talk .cc * {
	display: inline
}

.radios{
	margin-left: 10em;
}

#personal_details .radios label {
	display: inline;
	width: auto;
}

#personal_details label {
	display: inline-block;
	width: 9em;
}

#personal_details .privacy {
	padding-bottom: 0;
}

#personal_details .optional {
	padding-top: 0;
}

.confirmations, #registration_details {padding: .75em 0}
