#ielte6 {display: none}

body {
    background-color: white;
    color: black;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    min-width: 712px;
    font-size: .85em
    }

a:link {
    color: #C24C00;
    text-decoration: none;
    }

a:visited {
    color: #C24C00;
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    }

a:active {
    color: #00ff00;
    }


img {
    border: 0;
    }

p {line-height: 1.5em;}

#header {
    background-repeat: no-repeat;
    background-image: url("../images/logo-subpage.png");
    background-position: right 80px;
    float: right;
    width: 100%;
    position: relative;
    }

#hjem #header {
    background-image: url("../images/logo.png");
    background-position: left 80px;
    float: right;
    }

#content {
    clear: both;
    }

h1#site_title {
    height: 0px;
    width: 660px;
    overflow: hidden;
    padding: 53px 0 0 0;
    margin: 0;
    float: right;
    clear: right;
    }

#site_title a {
    height: 0px;
    padding: 53px 0 0 0;
    font-size: 92px;
    white-space: nowrap;
    }

#hjem h1#site_title {
    float: left;
    }




ul#user_nav {
    margin: 0px 60px;
    height: 60px;
    float: right;
    clear: both;
    }



ul#user_nav li {
    margin: 10px 0px 0px 30px;
    float: left;
    display: inline;
    list-style-type: none;
    }








ul#menu {
    margin: 0px 60px 5px 0px;
    float: right;
    clear: both;
    white-space: nowrap;
    }

ul#menu li {
    float: left;
    display: inline;
    list-style-type: none;
    margin-left: 30px;
    }

ul#menu, ul#menu li {
    height: 15px;
    background-position: top left;
    background-repeat: no-repeat;
    }

ul#menu li.menu_link:hover {
    background-position: 0 -15px;
    }

ul#menu li.menu_current {
    background-position: 0 -30px;
    }

ul#menu li, ul#menu li a {
    height: 0px;
    padding-top: 15px;
    font-size: 21px;
    white-space: nowrap;
    width: auto;
    }

li#program_menu {
    background-image: url(../images/program.png);
    overflow: hidden;
    width: 80px;
    }

li#lyntaler_menu{
    background-image: url(../images/lyntaler.png);
    overflow: hidden;
    width: 63px;
    }

li#arrangoerene_menu {
    width: 112px;
    overflow: hidden;
    background-image: url(../images/arrangoerene.png);
    }

li#openspace_menu {
    background-image: url(../images/open_space.png);
    overflow: hidden;
    width: 107px;
   }

li#forum_menu {
    background-image: url(../images/forum.png);
    overflow: hidden;
    width: 56px;
   }

li#index_menu {
    background-image: url(../images/hjem.png);
    overflow: hidden;
    width: 46px;
   }



h2.page_title {
    padding: 23px 0 0 0;
    height: 0;
    background-repeat: no-repeat;
    float: left;
    margin: 25px 0px 0px 60px;
    color: #008800;
    font: arial;
    }

h2#page_lyntaler_title  {
    overflow: hidden;
    background-image: url("../images/heading-lyntale.png");
    width: 242px;
    }

h2#page_program_title  {
    overflow: hidden;
    background-image: url("../images/heading-program.png");
    width: 144px;
    }



h2#page_openspace_title  {
    overflow: hidden;
    background-image: url("../images/heading-open_space.png");
    width: 286px;
    }

h2#page_arrangoerene_title  {
    overflow: hidden;
    background-image: url("../images/heading-arrangoerene.png");
    width: 162px;
    }

#hjem h2#page_index_title  {
    overflow: hidden;
    background-image: url("../images/heading-hjem.png");
    background-position: top right;
    padding: 41px 0 0 0;
    width: 259px;
    float: right;
    margin: 7px 60px 0px 0px;
    clear: right;
    }

#content {
    padding: 15px 60px;
    }

#rightcol {
    width: 49.5%;
    float: right;
        }
#leftcol {
    width: 49.5%;
    float: left;
    }

#leftcol p, #leftcol div {
    margin-right: 30px;
    }

#rightcol p, #rightcol div {
    margin-left: 30px;
    }



#def {
    font-family: verdana;
    font-size: .8em;
    }

#def * {
    line-height: normal;
    }

.intro {
    float: right;
    margin-left: 30px;
    width: 30%;
    font-size: 1.5em;
    padding: 15px;
    color: #d45a00;
    font-style: italic;
    }


#todo {
    font-size: 1.5em;
    padding: 15px 15px 15px 45px;
    font-style: italic;
    border-style: solid;
    border-color: black;
    border-width: 1px 0;
    }

#todo li {
    list-style: disc;
    padding: .25em 0;
    }

.largeButton {
	background: #337700;
	padding: 25px;
	text-align: center;
	margin: 5px;
	color: #FFFFFF;
	font-size: 2em;
}

.attribution {
    display: block;
    text-align: right;
    }

dt {
    padding-top: 1em
    }

#sponsors { background: white; margin-left:5em; margin-right:5em; z-index:100; clear: both; float:left; line-height: 40px; text-align: center;}
#sponsors img { margin: 0 20px; }




form {
    font-family: verdana, sans-serif;
    font-size: .8em;
    float: left;
    clear: both;
    position: relative;
    margin: 30px 0px;
    }

form span {
    display: block;
    padding-bottom: 2px;
    }

form div {
    display: inline;
    margin-right: 15px;
    float: left;
    }

input {

    }


#user_session_submit {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}


#user_session_email {
width: 10em;
}


#user_session_password {
width: 7em;

}