div.topic           { font-size: larger; font-weight: bold;}
div.detail          { margin-left:3em; font-size:smaller; }
div.speaker         { margin-left:3em; font-size:smaller; }
div.submitted_time  { margin-left:3em; font-size:smaller; }
div.votes           { margin-left:3em; font-size:smaller; }
div.talk_topic      { margin-left:3em; font-size:smaller; }
div.talk_description { margin-left:4em; font-size:smaller; }
div.talks_submitted { font-style:italic; margin-top: 1em;}
div.admin           { background-color: orange; }
div#user_nav        { float: right; font-size: 12px; }
div#comments        { margin-left:3em; }
div.help            { margin-left:3em; font-size:smaller; font-variant:italic; }
