.tooltip {
    cursor: help;
    position: relative;
    display: inline;
	line-height: normal;
	text-align: left;
}

.tooltip div.box {
	display: none;
	overflow: hidden;
    margin: 25px;
    padding-left: 25px;
    border-left: 2px solid white;
}

.tooltip img {
	width: 16px;
	height: 16px;
	vertical-align: top;
}

.tooltip ul {
	margin: 0;
	padding: 0;
}

.tooltip li {
	margin: 0;
	padding: 0;
}