.tooltip-link {
	font-weight: bold;
}

.tooltip {
    cursor: help;
    position: absolute;
	width: 200px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 10px;
	font-weight: normal;
}

.tooltip div.box {
	display: none;
	overflow: hidden;
    margin: 25px;
    padding-left: 25px;
    border-left: 2px solid white;
}

.tooltip img {
	width: 16px;
	height: 16px;
	vertical-align: top;
}

.tooltip ul {
	margin: 0;
	padding: 0;
}

.tooltip li {
	margin: 0;
	padding: 0;
}