<%= link_to 'Tilbake til alle lyntaler', talks_path %>
<br /><br />
<div class="tag_selector">
<b>Tags</b><br />
<% @tags.each do |tag| %>
  <% if tag.id == @tag.id %>
    <span class="selected"><%= tag.title + " ("+ tag.talks.count.to_s + ")" %></span>
  <% else %>
    <%= link_to tag.title+" ("+tag.talks.count.to_s+")", :controller=>"talks", :action=>"article_tags", :id=>tag.id %>
  <% end %>
<% end %>
</div>
<br />

<%= render :partial => @talks %>

<% if @talks.length == 0 %>
Ingen lyntaler har den angitte taggen!
<% end %>
