<% content_for :title, "Foreslåtte foredrag" %>

<!--<p><a href="../info/til_lyntalere">Informasjon om hva slags opplegg vi har rundt lyntaler, tordentaler og workshops på Smidig 2012, samt noen generelle tips.</a></p>-->

<h2 class="page_title">Foreslåtte bidrag
  <div class="sub_info">
    <%= link_to "Foredrag", talks_path(:format => :rss), :title => "Følg med på alle nye foredrag", :class => "rss icon" %>

    <%= link_to "Kommentarer", comments_path(:format => :rss), :title => "Følg med på alle nye kommentarer", :class => "rss icon" %>
  </div>
</h2>


<div class="filters">
  <div class="type field">
    <label for="show_types">Vis</label>
    <select id="show_types">
      <option value="alle">Alle</option>
      <option value="lyntale">Lyntale</option>
      <option value="workshop">Workshop</option>
    </select>
  </div>
  <div class="checkbox-wrapper field">
    <input type="checkbox" id="show_accepted" /> 
    <label for="show_accepted">Vis bare godkjente</label>
  </div>
</div>

<ul class="item-list section">
  <%= render :partial => @talks_sorted %>
</ul>

<%= link_to "Foreslå tale selv!", new_talk_path, :class => "button" %>

<script>
  $("#show_accepted").removeAttr("checked");
  $("#show_types").val("alle");
  filter_change = function() {
    var show_accepted = $("#show_accepted").attr("checked");
    var selection = $("#show_types").val();
    $("ul.talks > li").each(function() {
      var accepted = $(this).hasClass("accepted");
      var shown_type = $(this).hasClass(selection);
      if (!shown_type || (show_accepted && !accepted)) {
        $(this).hide();
      } else {
        $(this).show();
      }
    });
  }
  $("#show_accepted").change(filter_change);
  $("#show_types").change(filter_change);
</script>
