<%= content_for :title, "Foreslå lyntale" %>

<p>Velkommen som lyntaler til Smidig 2009. Ved å fylle ut dette skjemaet, vil lyntalen din bli registrert blant forslagene til årets konferanse. Du kan på et hvert tidspunkt i fremtiden endre innholdet på foredraget ditt. Det er viktig at du leser <%= link_to 'informasjonen om lyntaler', :controller => 'pages', :action => 'lyntaler' %> før du foreslår din påstand.</p>

<p><em>Nytt for i år er at andre deltagere får nå se forslaget ditt så snart det er registrert og du må tillate at foredraget ditt deles under en Creative Commons lisens. Vi ønsker også at forslagene blir lagt inn som påstander som du ønsker å fremme under konferansen, da dette erfaringsmessig gir gode lyntaler.</em></p>

<%= render :partial => 'form' %>
