<%= content_for :title, "Foreslå lyntale" %>

<p>Velkommen som lyntaler til Smidig 2010. Ved å fylle ut dette skjemaet, vil lyntalen din bli registrert blant forslagene til årets konferanse. Du kan på et hvert tidspunkt i fremtiden endre innholdet på foredraget ditt. Andre deltagere får nå se forslaget ditt så snart det er registrert og du må tillate at foredraget ditt deles under en Creative Commons lisens.</p>

<%= render :partial => 'form' %>
