<%= content_for :title, "Foreslå lyntale" %>
<h2 class="page_title">Velkommen som lyntaler!</h2>

<p>
  Ved å fylle ut dette skjemaet, vil lyntalen din bli registrert blant forslagene til årets konferanse.
  Du kan på et hvert tidspunkt i fremtiden endre innholdet på foredraget ditt. Andre deltagere får nå
  se forslaget ditt så snart det er registrert og du må tillate at foredraget ditt deles under en
  Creative Commons lisens. Blir din lyntale tatt med, belønnes du med fri inngang, ære og forevigelse på video. Har du betalt,
  vil du få refundert beløpet.
</p>
<p>
  <strong>Dersom du trenger noen tips til å holde lyntaler, kan du <a href="../info/til_lyntalere">se her</a></strong>.
</p>

<%= render :partial => 'form' %>