<h2>Experimenting with live chat</h2>
<p>From the node_knockout contest. Chrome browser required. <a href="http://gabbertalk.com/">Gabbertalk</a></p>
<div id="gabber-talk" class="gabber-talk">
<script src="http://explorer-sox.no.de/845c0a1287da5c09377574389f34ec8b/bootstrap.js" async></script>
</div>
<p>The gabbertalk should be displayed above. </p>