<h1>Users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Name</th>
    <th>Joined</th>
  </tr>
<% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.name %></td>
    <td><%=h time_ago_in_words(user.created_at) %> ago</td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</table>

