<h2 class="page_title">Påmelding til Smidig 2010</h2>

<% unless @user.registration.free_ticket %>
  <p>
    <%= @user.registration.ticket_description %> koster
	<%= @user.registration.ticket_price %>,- inklusive mva. for deltagere
    og 0,- for foredragsholdere (dersom foredraget ditt
    blir godkjent).
  </p>
<% end %>

<%= render :partial => 'form' %>

