<h2>Påmelding til Smidig 2010</h2>

<% unless @user.registration.free_ticket %>
  <p>Billetter til Smidig 2010 koster kr. 1875 fram til 30. september. Nytt av året er at konferansemiddag 22. oktober kjøpes separat.</p>
  
<% end %>

<%= render :partial => 'form' %>

