<h1>Påmelding til Smidig 2009</h1>

<p>Påmeldingen til Smidig 2009 har nå åpnet. De første 150 billettene selges til Early Bird-pris på kun til kroner 1000! Early Bird er for tiden <i>kun</i> tilgjengelig ved betaling med kredittkort. Nytt av året er at middag kjøpes separat.</p>

<p>Konferansen er gratis for foredragsholdere. <%= link_to "Meld på din lyntale.", :controller => 'talks', :action => 'new' %></p>

<%= render :partial => 'form' %>

