<% content_for :title, "Påmelding til Smidig 2011" %>

<p class="login">Er du allerede påmeldt? <%= link_to "Logg inn", new_user_session_path %></p>

<% unless @user.registration.free_ticket %>
  <p>
    Meld deg på innen <strong>14. oktober</strong> for å få 
    <%= @user.registration.ticket_description %> pris på billetten: Kun
    <%= @user.registration.ticket_price %>,- inklusive mva. for deltagere
    og 0,- for foredragsholdere (dersom foredraget ditt
    blir godkjent).
  </p>
<% end %>

<%= render :partial => 'form' %>

