<h2>Påmelding til Smidig 2010</h2>

<% unless @user.registration.free_ticket %>
  <p>Billetter til Smidig 2010 koster kr. 1875 fram til 15. september.</p>
  
<% end %>

<%= render :partial => 'form' %>

