<% content_for :title, "P책melding til Smidig 2012" %>

<p class="notification login">
	Er du allerede p책meldt? <%= link_to "Logg inn", new_user_session_path%>
</p>

<h2 class="page_title">Meld deg p책 Smidig i dag</h2>
<% unless @user.registration.free_ticket %>
  <p>
    <%= @user.registration.ticket_description %> koster
    <%= @user.registration.ticket_price %>,- inklusive mva. for deltagere
    og 0,- for bidragsytere (dersom bidraget ditt
    blir godkjent). Fristen for early-bird billett er 1.oktober og s책 lenge vi har nok billetter av denne typen. 
  </p>
<% end %>

<%= render :partial => 'form' %>

