<h2>Påmelding til Smidig 2009</h2>

<% unless @user.registration.free_ticket %>
  <p>Billetter til Smidig 2009 koster kr. 1950 eller kr 2450 inklusive middag. Nytt av året er at konferansemiddag 22. oktober kjøpes separat.</p>
  
<% end %>

<%= render :partial => 'form' %>

