<h2>Påmelding til Smidig 2009</h2>

<p>Inntil torsdag 17. september selges billettene til Early Bird-pris på kun kr. 1250, 1750 inklusive middag. Early Bird er for tiden <i>kun</i> tilgjengelig ved betaling med kredittkort. Nytt av året er at middag kjøpes separat.</p>

<p>Konferansen er gratis for foredragsholdere. <%= link_to "Meld på din lyntale.", :controller => 'talks', :action => 'new' %></p>

<%= render :partial => 'form' %>

