<div id="header">
  <h1><span>Smidig 2011</span></h1>
  <div><h2 class="page_title">Påmelding til Smidig 2011</h2></div>
</div>

<% unless @user.registration.free_ticket %>
  <p>
    <%= @user.registration.ticket_description %> koster
	<%= @user.registration.ticket_price %>,- inklusive mva. for deltagere
    og 0,- for foredragsholdere (dersom foredraget ditt
    blir godkjent).
  </p>
<% end %>

<%= render :partial => 'form' %>

