<h2 class="page_title">Påmelding til Smidig 2010</h2>

<% unless @user.registration.free_ticket %>
  <p>Billetter til Smidig 2010 koster kr. 1875 fram til 15. september.</p>
    <p>Ønsker du å holde foredrag, registrerer du deg heller <br>
      gjennom <%= link_to "lyntaleskjemaet", new_talk_path %>, sammen med lyntaleforslaget ditt.
    </p>

<% end %>

<%= render :partial => 'form' %>

