<!DOCTYPE html>
<html lang="no">

<head>
	<meta charset="utf-8" />

	<title>
  	  <%= content_for?(:title) ? yield(:title) : "Kvittering" %>
    </title>
</head>
<body>
<p>
KJØPSINFORMASJON
<br/>
Navn: OLE MORTEN AMUNDSEN
<br/>
Adresse: ETTERSTADGATA 16, 0658
<br/>
Referansenr: 102332379
<br/>
Betalingsform: VISA ############6290
<br/>
Produktinformasjon: Konferansedeltaker, early-bird
<br/>
Smidigkonferansen 14.-15.november
<br/>
Radisson BLU Plaza Hotel Oslo
<br/>

<br/>
Total Pris: 1875.00
<br/>
Mva: 25.00% Gr.lag: 1500.00 Mva kr: 375.00
<br/>
Smidigkonferansen (forening) Org nr. 993169919 MVA 
</p>
</body>