<h1>New payment_notification</h1>

<% form_for(@payment_notification) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', payment_notifications_path %>