<% content_for :title, "Hvem arrangerer konferansen?" %>


<p class="intro">Har du spørsmål angående konferansen eller ønsker å komme i kontakt med arrangørene kan du sende en epost til <a href="mailto:konferanse@smidig.no">konferanse@smidig.no</a>.</p>


<p>Smidig 2009 er arrangert av Smidig.no. Konferansen startet med noen fluktige tanker i hodene på noen, og har blitt gjort mulig av entusiaster som uoppfordret tilbød seg å gjennomføre alle de oppgavene som må til.  Følgende ildsjeler har bidratt til konferansen:</p>



<div id="arrangørene_list">


<dl>

<dt>Ole Morten Amundsen</dt>
<dd>Ole Morten er en smidig-entusiast, utvikler og selvstendig konsulent.</dd>

<dt>Thommy Bommen</dt>
<dd>Thommy jobber i Computas AS som prosjektleder og er opptatt av smidige prosesser samt kvalitet i prosjekter.</dd>

<dt>Johannes Brodwall</dt>
<dd>Johannes drømmer opp rare ideer om konferanser sammen med andre og forsøker å få dem til å bli virkelige. Han er Chief Scientist i Steria.</dd>

<dt>Sarah Brodwall</dt>
<dd>Sarah interesserer seg for hvordan User Experience kan integreres i smidige prosjekter.</dd>

<dt>Howard Gittela</dt>
<dd>Det Howard ikke kan om lyd og teknikk er ikke verdt å kunne.</dd>

<dt>Christian Braarud Hauknes</dt>
<dd>Christian jobber som IT-ansvarlig i Statkraft, og er over gjennomsnittlig interessert i kommunikasjon og prosessforbedringer.</dd>

<dt>Aslak Hellesøy</dt>
<dd>Aslak jobber som Chief Scientist i BEKK Consulting og har drevet med XP og Scrum siden 2002.</dd>

<dt>Daniel Holmen</dt>
<dd>I tillegg til å være Seniorkonsulent i Paragon Software, forstår Daniel seg på lyd og scene bedre enn de fleste.</dd>

<dt>Simen Fure Jørgensen</dt>
<dd>Simen er deleier av Iterate, og initiativtaker til Lean Meetup i Oslo.</dd>

<dt>Jerome Lacoste</dt>
<dd>Jerome er opptatt av ting som gjør oss bedre. Dette inkluderer lean og smidige initiativer. Han jobber i CoffeeBreaks AS.</dd>

<dt>Ole Christian Rynning</dt>
<dd>Ole Christian jobber som programmerer i BEKK.</dd>

<dt>Øystein Urdahl</dt>
<dd>Øystein jobber som systemutvikler i Steria og syntes det var på tide å bidra litt tilbake til miljøet.</dd>

<dt>Anders Sveen</dt>
<dd>Anders Sveen jobber som systemutvikler hos Capgemini og er engasjert i smidig utvikling og metoder.</dd>

<dt>...og mange flere.</dt>


</dl>
</div>
