<% content_for :title, "22. - 23. oktober - Oslo Kongressenter" %>

<div id="todo">
	<div id="firstrow">
		<h2 class="page_title">22. - 23. oktober - Oslo Kongressenter</h2>
		<% if not current_user %><h4><% link_to new_user_path do %>Meld deg på.<% end %></h4>
		<p>Deltageravgiften er kr. 1950, 2450 inklusive middag.</p><% end %>
	</div>

	<div id="secondrow">
		<div>
			<h4><% link_to topics_path do %>Lyntaler.<% end %></h4>
			<p>Du kan registrere en eller flere lyntaler etter at du har meldt deg på. <strong>Siste frist for å levere inn forslag til lyntaler er torsdag 1. oktober.</strong></p>
		</div>
		<div>
			<h4><%= link_to "Spre Ordet.", :controller => 'pages', :action => 'spre_ordet' %></h4>
			<p>Jo mer folk involvert i det smidige miljøet, jo mer kunnskap tilgjengelig for alle.</p>
		</div>
	</div>

	<div id="thirdrow">
		<div>
			<h4><a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text=Smidig%202009&amp;dates=20091022/20091024&amp;details=&amp;location=Oslo%20Kongressenter%2C%20Youngsgate%2011%2C%200181%20Oslo%2C%20Norway&amp;trp=false&amp;sprop=http%3A%2F%2Fsmidig2009.no&amp;sprop=name:Smidig%202009">Hold av datoen.</a></h4>
			<p>Konferansen blir avholdt 22.-23. oktober i Oslo Kongressenter.</p>
		</div>
		<div>
			<h4><a href="http://twitter.com/smidig">Følg @Smidig.</a></h4>
			<p>Foreslåtte lyntaler og andre nyttig informasjon legges ut på Twitter fortløpende.</p>
		</div>
		<div>
			<h4><a href="http://forum.smidig.no">Besøk forumet.</a></h4>
			<p>Diskuter smidige metoder med andre interesserte i miljøet.</p>
		</div>
		<div>
			<h4><a href="mailto:kontakt@smidig2009.no">Bli frivillig.</a></h4>
			<p>Vi trenger flere som kan ta i et tak før eller under konferansen.</p>
		</div>
	</div>
</div>

	<div id="index_text">

			<%= floating_text_box "
	    <div id='def'>
	        <h3>Hva er smidig utvikling?</h3>
	        <p>Vi oppdager nye og bedre måter å utvikle systemer på, ved å gjøre det selv og ved å hjelpe andre. Derved har vi lært oss å verdsette:</p>

	        <ul><li>Individer og samspill framfor prosesser og verktøy</li>
	            <li>Fungerende system framfor utførlig dokumentasjon</li>
	            <li>Samarbeid med kunden framfor kontraktsforhandlinger</li>
	            <li>Å reagere på endringer framfor å følge en plan</li>
	        </ul>

	        <p>Det betyr at selv om punktene til høyre er verdifulle, verdsetter vi de til venstre mer.</p>
	        <div class='attribution'>~Manifesto for Agile Software Development</div>
	        <p>Vi kaller prosjekter som følger disse prinsippene for smidige prosjekter. Arrangørene bak Smidig 2009 tror at norske IT-prosjekter kan bli mer vellykkede med bruk av smidige metoder gjennom å realisere gevinster tidligere og håndtere endringer på en bedre måte.</p>
	    </div>
	" %>

	<h3>Med ett øyekast</h3>

	<ul>
	  <li>4 lyntaler i timen fram til lunsj</li>
	  <li>Open space etter lunsj: Selvorganiserende arbeidsgrupper</li>
	  <li>Over 50 norske foredragsholdere med konkret, fersk erfaring fra smidige prosjekter</li>
	  <li>Prosjektledere, utviklere, testere, bedriftsledere, designere...</li>
	  <li>Konferansemiddag torsdag 22. oktober</li>
	  <li>22.-23. oktober på Oslo Kongressenter ved Youngstorget i Oslo</li>
	</ul>

	<p>Les mer <%=link_to "om konferansen", :action => 'om_konferansen' %>.</p>

	<h3>Tidligere år</h3>

	<p>Se video av alle foredragene fra <a href="http://smidig2008.confreaks.com">Smidig 2008</a> og <a href="http://smidig2007.confreaks.com">Smidig 2007</a>.</p>

</div>
<div id="footer"></div>