<% content_for :title, "22. - 23. oktober - Oslo Kongressenter" %>

<div id="todo">
	<div id="firstrow">
		<h2 class="page_title">22. - 23. oktober - Oslo Kongressenter</h2>
		<% if not current_user %><h4><% link_to new_user_path do %>Meld deg på.<% end %></h4>
		<p>Deltageravgiften for tidlig påmelding er på kr. 1250, 1750 inklusive middag.</p><% end %>
	</div>

	<div id="secondrow">
		<div>
			<h4><% link_to new_talk_path do %>Foreslå en lyntale.<% end %></h4>
			<p>Du kan registrere en eller flere lyntaler etter at du har meldt deg på.</p>
		</div>
		<div>
			<h4><span>Spre ordet.</span></h4>
			<p>Jo mer folk involvert i det smidige miljøet, jo mer kunnskap tilgjengelig for alle.</p>
		</div>
	</div>

	<div id="thirdrow">
		<div>
			<h4><a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text=Smidig%202009&amp;dates=20091022/20091024&amp;details=&amp;location=Oslo%20Kongressenter%2C%20Youngsgate%2011%2C%200181%20Oslo%2C%20Norway&amp;trp=false&amp;sprop=http%3A%2F%2Fsmidig2009.no&amp;sprop=name:Smidig%202009">Hold av datoen.</a></h4>
			<p>Konferansen blir avholdt 22.-23. oktober i Oslo Kongressenter.</p>
		</div>
		<div>
			<h4><a href="http://twitter.com/smidig">Følg @Smidig.</a></h4>
			<p>Foreslått lyntaler og andre nyttig informasjon legges ut på Twitter fortløpende.</p>
		</div>
		<div>
			<h4><a href="http://forum.smidig.no">Besøk forumet.</a></h4>
			<p>Diskuter smidige metoder med andre interesserte i miljøet.</p>
		</div>
		<div>
			<h4><a href="mailto:kontakt@smidig2009.no">Bli frivillig.</a></h4>
			<p>Vi trenger flere som kan ta i et tak før eller under konferansen.</p>
		</div>
	</div>
</div>

	<div id="index_text">

			<%= floating_text_box "
	    <div id='def'>
	        <h3>Hva er smidig utvikling?</h3>
	        <p>Vi oppdager nye og bedre måter å utvikle systemer på, ved å gjøre det selv og ved å hjelpe andre. Derved har vi lært oss å verdsette:</p>

	        <ul><li>Individer og samspill framfor prosesser og verktøy</li>
	            <li>Fungerende system framfor utførlig dokumentasjon</li>
	            <li>Samarbeid med kunden framfor kontraktsforhandlinger</li>
	            <li>Å reagere på endringer framfor å følge en plan</li>
	        </ul>

	        <p>Det betyr at selv om punktene til høyre er verdifulle, verdsetter vi de til venstre mer.</p>
	        <div class='attribution'>~Manifesto for Agile Software Development</div>
	        <p>Vi kaller prosjekter som følger disse prinsippene for smidige prosjekter. Arrangørene bak Smidig 2009 tror at norske IT-prosjekter kan bli mer vellykkede med bruk av smidige metoder gjennom å realisere gevinster tidligere og håndtere endringer på en bedre måte.</p>
	    </div>
	" %>

	    <p>Smidig 2009 er et tverrfaglig initiativ for alle som jobber med IT-prosjekter. Konferansen arrangeres av frivillige entusiaster fra forskjellige fagmiljøer med en felles interesse for smidige metoder, og støttes av et bredt spekter av bedrifter. Vi tror at den mest verdifulle erfaringen eksisterer i hodene på de som gjennomfører prosjekter til daglig, enten de kaller måten de jobber smidig eller ikke. Smidig-konferansene er et forum der vi
	    setter fokus på denne erfaringen.</p>

	    <p>Smidig-konferansene følger et unikt format: Begge dager starter med tre timer med korte, erfaringsbaserte foredrag. Vi kaller disse foredragene Lyntaler. Hver lyntale er på ti minutter, så i løpet av hver formiddag får du høre lyntaler fra tolv forskjellige personer. I Open Space etter lunsj stemmer deltakerne selv fram hvilke temaer de ønsker å fordype seg i og jobber så med disse problemstillingene i mindre grupper. Enkle regler sikrer interaktivitet og faglig utbytte for deltakerne.</p>

	    <p>Dette er tredje gangen smidig-konferansen blir arrangert. Smidig 2007 og Smidig 2008 hadde mange gode foredrag og var en god plass for faglig og profesjonelt påfyll. Du kan se video av alle foredragene både fra <a href="http://smidig2008.confreaks.com">Smidig 2008</a> og <a href="http://smidig2007.confreaks.com">Smidig 2007</a> online.</p>
</div>
<div id="footer"></div>