<% content_for :title, "22. - 23. oktober - Oslo Kongressenter" %>

<div id="todo">
	<div id="firstrow">
		<h2 class="page_title">22. - 23. oktober - Oslo Kongressenter</h2>
		<h4>Årets konferanse er over</h4>
		<p>Tusen takk til alle lyntalere deltakere som gjorde konferansen til en ny flott opplevelse!</p>
	</div>
</div>
<div id="index_text">	
  <%# Topp 15 %>
  <div class='floating_text_box note' style="float:right">
    <div class='content'>
      <div class='top'></div>
      <div class='background-color'>
        <div id='def'>
          <h3>
            Topp 15 lyntaler
          </h3>
          <h4>
            SAL A
          </h4>
          <ol>
            <li>
              <a href="http://tcs.java.no/tcs/?id=20B8314B-4EE8-4C87-A418-2AA08F4AB3E6" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">Kanban for nybegynnere (Aslak Hellesøy)</a>
            </li>
            <li>
              <a href="http://tcs.java.no/tcs/?id=55A02830-1508-4690-8321-B7CAA32C9337" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">Daglige stand-up møter er destruktive (Kjetil Moløkken-Østvold)</a>
            </li>
            <li>
              <a href="http://tcs.java.no/tcs/?id=25C504A0-F4AA-431C-8922-AC67462F542C" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">Det Smidige Sosialdemokrati (Espen Dalløkken)</a>
            </li>
            <li>
              <a href="http://tcs.java.no/tcs/?id=679815FD-2D42-4265-BBC5-9D7766928848" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">Smidig i store porteføljer (Christian Braarud Hauknes)</a>
            </li>
            <li>Scrum: De innsatte styrer asylet igjen (Jostein Magnussen)<br/><i>NB! Vi beklager, vi mistet dessverre denne videoen.</i>
            </li>
          </ol>
          <h4>
            SAL B
          </h4>
          <ol>
            <li>
              <a href="http://tcs.java.no/tcs/?id=9F02BF3C-5CA5-4161-87B3-5592CC0C1549" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">Beyond Budgeting (Bjarte Bogsnes)</a>
            </li>
            <li>Flyt (Vidar Alvestad)<br/><i>NB! Vi beklager, vi mistet dessverre denne videoen.</i>
            </li>
            <li>
              <a href="http://tcs.java.no/tcs/?id=E9B8D0F3-89C2-4143-87B8-ED6C5C764F72" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">PO-rollen: 7 fallgruber (Geir Amsjø)</a>
            </li>
            <li>
              <a href="http://tcs.java.no/tcs/?id=1336E964-DB9B-4BEF-85BD-2E335B2E2628" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">Gör som jag säger, inte som jag gör! (Ola Ellnestam)</a>
            </li>
            <li>
              <a href="http://tcs.java.no/tcs/?id=F227AB0E-E465-43D0-ADC0-912F391B3FF4" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">Tidsboks med risikodeling (Kjetil Strand)</a>
            </li>
          </ol>
          <h4>
            SAL C
          </h4>
          <ol>
            <li>
              <a href="http://tcs.java.no/tcs/?id=379B438E-11FA-418E-8A04-D02AF83B1698" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">Derre e itj smidi!! (Jøran Vagnby Lillesand)</a>
            </li>
            <li>Teknisk gjeld er bra (Olve Maudal)<br/><i>NB! Vi beklager, vi mistet dessverre denne videoen.</i>
            </li>
            <li>
              <a href="http://tcs.java.no/tcs/?id=593A9CA9-F45B-41CB-8AF3-9EFD02177F0A" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">Smidig utvikling trenger også testere (Karianne Berg)</a>
            </li>
            <li>
              <a href="http://tcs.java.no/tcs/?id=3D998ED6-1BF4-46D7-BF40-25CC06BD1AA1" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">Parprogrammering kan raskt gi en driv i teamet ditt (Kari Røssland, Ørjan Markhus Lillevik)</a>
            </li>
            <li>
              <a href="http://tcs.java.no/tcs/?id=F7683F51-0A21-4377-99CE-178DDF511AB9" title="Videoen vil bli åpnet i et nytt vindu" target="_blank">Testene koster mer enn de smaker? (Ole Morten Amundsen)</a>
            </li>
          </ol>
          <p>
            <a href="http://tcs.java.no">Se alle videoene av lyntalene her</a>
          </p>
        </div>
      </div>
    </div>
    <div class='bottom'></div>
  </div>

  <%# EO Topp 15 %>
  <h4><a href="http://tcs.java.no">Se videoer av lyntaler.</a></h4>
  <p>Stor takk til Tandberg for filming, og javaBin for hosting av videofilmene!</p>
	<h4><a href="http://twitter.com/smidig">Følg @Smidig.</a></h4>
	<p>Følg Smidig på Twitter for oppdateringer om hendelser og neste års konferanse.</p>
	<h4><a href="http://forum.smidig.no">Besøk forumet.</a></h4>
	<p>Diskuter smidige metoder videre med andre interesserte i miljøet.</p>

	<h3>Smidig? Med ett øyekast</h3>

	<ul>
	  <li>4 lyntaler i timen fram til lunsj</li>
	  <li>Open space etter lunsj: Selvorganiserende arbeidsgrupper</li>
	  <li>Over 50 norske foredragsholdere med konkret, fersk erfaring fra smidige prosjekter</li>
	  <li>Prosjektledere, utviklere, testere, bedriftsledere, designere...</li>
	  <li>Konferansemiddag torsdag 22. oktober</li>
	  <li>22.-23. oktober på Oslo Kongressenter ved Youngstorget i Oslo</li>
	</ul>

	<p>Les mer <%=link_to "om konferansen", :action => 'om_konferansen' %>.</p>

	<h3>Tidligere år</h3>

	<p>Se video av alle foredragene fra <a href="http://smidig2008.confreaks.com">Smidig 2008</a> og <a href="http://smidig2007.confreaks.com">Smidig 2007</a>.</p>

</div>
<div id="footer"></div>