<% content_for :title, "Om Lyntaler" %>
<%= render :partial => 'submenu' %>
<h2 class="page_title">Hva er en lyntale?</h2>

<p>En lyntale ("Lightning Talk") er et meget kort foredrag på mellom 5 og 10 minutter. Har man kun 10 minutter til rådighet, er man nødt til å legge fokus på det aller viktigste. På Smidig 2009 vil det være 72 lyntaler, alle holdt av sterkt engasjerte og erfarne foredragsholdere. I løpet av konferansen vil hver deltaker få med seg de 24 lyntalene hun eller han synes virker mest interessante – en enorm kilde med inspirasjon, innspill og idéer.</p>

<%= floating_text_box "<p class='quote'>Lyntaler er tapas i foredragsholdernes verden. De har vist seg å være svært populære og nyttige. Man får mange impulser fra mange forskjellige folk.</p>" %>

<p>Lyntalene vil være rettet mot ulike områder og deltakere med ulik grad av forhåndserfaring. Både den nysjerrige og den erfarne vil finne noe som engasjerer.</p>

<p>Omtrent en av sju deltakere på Smidig 2009 vil også holde en lyntale. Vi tror dette kommer til å skape en intim og åpen dialog, hvor det er lett å diskutere videre med foredragsholderne i en av pausene. Uansett om du ønsker å holde en lyntale eller bare være en aktiv tilhører så ønsker vi deg velkommen til en stimulerende tapas-fest!</p>

<ul>
  <li><%= link_to "Foreslå en lyntale", :controller => 'talks', :action => 'new' %></li>
  <li><%= link_to "Se på lyntaler som er foreslått", :controller => 'topics', :action => 'index'%></li>
</ul>

<p>Du kan registrere en eller flere lyntaler etter at du har meldt deg på.</p>

