<% content_for :title, "Om Lyntaler" %>
<%= render :partial => 'submenu' %>
<h2 class="page_title">Hva er en lyntale?</h2>

<p>Alle foredragene på Smidig-konferansen vil bestå av lyntaler. En lyntale (”lightning talk” på engelsk) er vanligvis mellom fem og ti minutter. På Smidig 2009 er grensen ti minutter. Dette inspirerer foredragsholderne til å destillere budskapet sitt ned til det aller viktigste, og fjerne alle unødvendige deler. Dette er fordelaktig for deg som hører på.</p>

<%= floating_text_box "<p class='quote'>Lyntaler er tapas i foredragsholdernes verden. De har vist seg å være svært populære og nyttige. Man får mange impulser fra mange forskjellige folk.</p>" %>

<p>Lyntaler som foredragsform har mange fordeler. For det første har de mye innhold på liten tid, noe som gjør at du lærer mye og kan få med deg mange ulike temaer. I løpet av Smidig 2009 vil du få med deg opptil 24 temaer, alle presentert av engasjerte, talentfulle mennesker fra det skandinaviske smidigmiljøet. Dette innebærer også at det ikke gjør så mye om ett foredrag er dårlig – du har jo 23 andre sjanser, og trenger bare å holde ut i ti minutter. Virkelig gode lyntalere vil fortelle deg mer på ti minutter enn du vanligvis får ut av et 45 minutters foredrag. Tidligere deltakere har sagt at Smidig er som en ukelang konferanse på to dager.</p>

<p>Hensikten med en lyntale er ikke å gi en fullstendig oversikt over et tema på ti minutter. Med mindre temaet er særdeles smalt er dette umulig. Siden man ikke rekker å snakke om absolutt alt, inviterer formen til diskusjoner med interessante foredragsholdere i etterkant, enten i form av Open Spaces eller uformelle diskusjoner i gangen eller under lunsjen. Siden så mange som en av sju deltakere på konferansen vil holde en lyntale, er det nok av muligheter til å snakke med interessante foredragsholdere.</p>

<ul>
  <%#<li>%><%# link_to "Foreslå en lyntale", :controller => 'talks', :action => 'new' %><%#></li>%>
  <li><%= link_to "Se på lyntaler som er foreslått", :controller => 'topics', :action => 'index'%></li>
</ul>

<p>Du kan registrere en eller flere lyntaler etter at du har meldt deg på.</p>

