<% content_for :title, "Om konferansen" %>
<%= render :partial => 'submenu' %>
<h2 class="page_title">Om konferansen</h2>

	    <p>Smidig 2009 er et tverrfaglig initiativ for alle som jobber med IT-prosjekter. Konferansen arrangeres av frivillige entusiaster fra forskjellige fagmiljøer med en felles interesse for smidige metoder, og støttes av et bredt spekter av bedrifter. Vi tror at den mest verdifulle erfaringen eksisterer i hodene på de som gjennomfører prosjekter til daglig, enten de kaller måten de jobber smidig eller ikke. Smidig-konferansene er et forum der vi
	    setter fokus på denne erfaringen.</p>

	    <p>Smidig-konferansene følger et unikt format: Begge dager starter med tre timer med korte, erfaringsbaserte foredrag. Vi kaller disse foredragene Lyntaler. Hver lyntale er på ti minutter, så i løpet av hver formiddag får du høre lyntaler fra tolv forskjellige personer. I Open Space etter lunsj stemmer deltakerne selv fram hvilke temaer de ønsker å fordype seg i og jobber så med disse problemstillingene i mindre grupper. Enkle regler sikrer interaktivitet og faglig utbytte for deltakerne.</p>

	    <p>Dette er tredje gangen smidig-konferansen blir arrangert. Smidig 2007 og Smidig 2008 hadde mange gode foredrag og var en god plass for faglig og profesjonelt påfyll. Du kan se video av alle foredragene både fra <a href="http://smidig2008.confreaks.com">Smidig 2008</a> og <a href="http://smidig2007.confreaks.com">Smidig 2007</a> online.</p>

    <p>Smidig konferansen avholdes på Oslo Kongressenter ved sentrum av Oslo. <a href="http://www.gulesider.no/kart/#lat%3D6643282.58298%26lon%3D597820.93739%26zoom%3D15%26layers%3DB0000%26id%3Dc_Z0025NVM%26offset%3D0%26tab%3Dyellow">Kart</a></p>