<% content_for :title, "Spre ordet" %>
<h2 class="page_title">Hvordan spre ordet</h2>

<p>
  Smidig 2009 er en konferanse som er drevet på frivillig basis. For at
  konferansen skal bli vellykket, trenger vi all hjelp vi kan få til å
  spre informasjon om konferansen. Slik kan du hjelpe:
</p>

<h3>Send en mail til dine venner</h3>

<p>
  Den mest effektive måten å få spredd ordet om konferansen er via
  direkte kontakt. Det er mange som ikke har hørt om konferansen
  eller som ikke vet om den arrangeres igjen i år. Ved å ta kontakt,
  kan du glede en kollega og hjelpe konferansen å bli mer vellykket.
  Dersom du ønsker inspirasjon, har vi skrevet <%= link_to "en mal
  til en mail", :controller => 'pages', :action => 'direkte_mail' %>
  som du kan benytte.
</p>

<h3>Heng opp en plakat på din arbeidsplass</h3>

<p>
  Du kan benytte denne plakaten: 
  <a href="http://svn.smidig.no/assets/smidig2009/public/Smidig2009-Poster.pdf">
    Smidig 2009 plakat
  </a>.
</p>

<h3>Del ut flyere</h3>

<p>
  Du kan printe og dele ut flyere til dine kolleger:
  <a href="http://svn.smidig.no/assets/smidig2009/public/Smidig2009-Flyer.pdf">
    Smidig 2009 flyer
  </a>
</p>
