<style>
  .votes .vote {
    text-align: right;
  }
  .votes .sum td {
    border-top: 1px solid silver;
    border-bottom: 2px solid silver;
    font-weight: bold;
  }
  .votes .title {
    padding-top: 20px;
  }
</style>

<table class="votes" cellspacing="0" cellpadding: "0">
  <% @talks_feedbacks_count.each do |element|  %>
  <tr>
    <td colspan="2" class="title"><h2><%= element.talk.try(:title) %></h2></td>
  </tr>
  <% element.feedbacks.each do |vote|  %>
    <tr>
      <td><%=h vote.comment %></td>
      <td class="vote"><%=h vote.vote %></td>      
    </tr>
  <% end %>
  <tr class="sum">
    <td>Snitt:</td>
    <td class="vote"><%=h element.avg %></td>      
  </tr>

<% end %>
</table>