<div id="submenu">
<%= link_to_unless_current "Om konferansen", :controller => 'info', :action => 'om_konferansen' %> |
<%= link_to_unless_current "Lyntaler", :controller => 'info', :action => 'lyntaler' %> |
<%= link_to_unless_current "Open Space", :controller => 'info', :action => 'openspace' %> |
<%= link_to_unless_current "Arrangørene", :controller => 'info', :action => 'arrangoerene' %>
</div>
