<% content_for :title, "Om arrangørene" %>

<h2 class="page_title">Hvem er vi?</h2>

<p>Smidig 2010 er arrangert av Smidig.no. Konferansen startet med noen fluktige tanker i hodene på noen, og har blitt gjort mulig av entusiaster som uoppfordret tilbød seg å gjennomføre alle de oppgavene som må til. Dersom du vil vite mer om konferansen eller bidra, kan du finne mer info på <a href="http://groups.google.com/group/smidig2010">vår interne mailingliste.</a></p>

<p>Har du spørsmål angående konferansen eller ønsker å komme i kontakt med arrangørene kan du sende en epost til <a href='mailto:kontakt@smidig.no'>kontakt@smidig.no</a>.</p>

<div id="arrangørene_list">

<h3>Følgende ildsjeler har bidratt til Smidig 2010</h3>

<ul>
	<li>Anders Haugeto</li>
	<li>Anders Sveen</li>
	<li>Anja Lønningen</li>
	<li>Arne Løvold</li>
	<li>Christian Stensholt</li>
	<li>Daniel Holmen</li>
	<li>Eivind Ingebrigtsen</li>
	<li>Ida Lau Borch</li>
	<li>Ivar Østhus</li>
	<li>Johannes Brodwall</li>
	<li>Karianne Berg</li>
	<li>Knut Johannes Dahle</li>
	<li>Oddmund Strømme</li>
	<li>Ole Christian Rynning</li>
	<li>Ole Morten Amundsen</li>
	<li>Rikard Eriksen</li>
	<li>Ruben Wangberg</li>
	<li>Sarah Brodwall</li>
	<li>Thommy Bommen</li>
	<li>Trond Wingård</li>
</ul>
</div>
