<% content_for :title, "Direkte mail" %>
<h2 class="page_title">Direkte mail</h2>

<div id="mail">
<p>Hei,</p>

<p>
  Fagmiljøet rundt smidige metoder i Oslo er blant verdens mest aktive.
  Vi har flere scrummastere per innbygger og flere smidige prosjekter
  per innbygger enn noe annet sted i verden. Dette gjør sitt til at det
  er utrolig mange mennesker i byen som har erfaringer med smidige metoder
  og som har noe å dele med andre. For fjerde gang inviterer entusiaster i fagmiljøet til Smidig-konferansen som avholdes 16. til 17. november på Radisson Blu Scandinavia ved Holbergs plass i Oslo.
</p>

<p>
  Smidig-konferansen er en konferanse for og av fagmiljøet selv.
  Her får du høre hvordan andre prosjektdeltagere som deg takler hverdagen
  i sine smidige og kanskje ikke så smidige prosjekter. Her får du stiftet
  nye bekjentskaper som er i samme situasjon som deg selv. Du får forsterket
  de bekjentskapene du har, og lært hvor mye både fagmiljøet og du selv har å
  by på. I fjor var over 15% av deltakerne også foredragsholdere, noe som
  skaper en unik atmosfære. Ikke bare får du høre interessante foredrag, men
  det er lett å snakke med foredragsholderne gjennom hele konferansen.
</p>

<p>
  Vi har åpnet for påmelding både for deltagere og foredragsholdere.
  Det er allerede kommet inn mange spennende forslag til programmet.
  Les mer på nettsidene og følg @smidig på Twitter!
  (<a href="http://twitter.com/smidig">http://twitter.com/smidig</a>)
  Sitter du inne med en idé, frustrasjon, erfaring
  eller noe annet du vil fortelle, meld inn ditt eget forslag!
</p>

<p>
  Gå til <a href="http://smidig2010.no">http://smidig2010.no</a> og meld deg på i dag.
</p>

<p>
Med vennlig hilsen<br/>
Entusiastene bak Smidig 2010
</p>

<p>
  PS: Konferansen er avhengig av hjelp fra deltagerne til markedsføring.
  Vi setter stor pris på om du videresender denne mailen til dine kolleger.
</p>

</div>