<!-- this information has not been verified yet. It's not yet linked from the website -->

<% content_for :title, "Information in English" %>

<p>For the third year in a row, the local Agile community in Oslo is organizing a community oriented conference. The goal of the conference is to utilize and highlight the expertise of local agile practitioners.</p>

<p>The conference is centered around two types of events: 10-minute lightning talks and open space discussion groups.</p>

<p>The lightning talks will be given by visionaries, practitioners and experts from other fields than software. Topics are centered around Agile software development, and both evangelists and skeptics will be given the chance to make their cases.</p>

<p>The event expects to draw 400 local practitioners from Norway and Sweden.</p>