<h2 class="page_title">Ofte besvarte spørsmål</h2>

<h2>Om konferansen</h2>

<h4>Q: Hvem arrangerer Smidig-konferansen?</h4>

<p>A: Smidig-konferansen blir arrangert av en rekke ildsjeler i smidig-miljøet i Oslo, 100% på frivillig basis. Du kan lese mer om dem her: <%= link_to "arrangørene", :action=> "arrangoerene" %></p>

<h4>Q: Hva skjer med et eventuelt overskudd fra konferansen?</h4>

<p>A: Det kanaliseres inn i neste års konferanse, samt støtte til communities som for eksempel Oslo XP Meetup.

<h2>Lyntaler</h2>

<h3>Q: Kan jeg sende inn abstract og holde foredrag på engelsk?</h3>

<p>A: Ja, men vi foretrekker at du holder det på norsk, evt svensk eller dansk. Det er fordi vi primært er en norskspråklig konferanse, og vi tror at folk både forstår og holder foredrag bedre på morsmålet sitt. Dersom du har et annet morsmål i utgangspunktet, slik at du føler deg usikker på å holde foredrag på norsk, får du lov til å snakke på engelsk.</p>

<h4>Q: Jeg vil gjerne holde et foredrag sammen med en annen person. Hvordan registrerer jeg dette?</h4>

<p>A: Dersom du vil holde foredrag sammen med en annen person, registrer foredraget på vanlig måte, be den andre personen om å
<%= link_to "registrere seg som foredragsholder her", :controller => 'users', :action => 'new', :free_ticket => 'speaker' %>, og send oss en mail om det på kontakt@smidig.no, så ordner det.</p>

<h4>Q: Når får jeg svar på om jeg får holde foredrag eller ikke?</h4>

<p>A: Siste frist for påmelding av lyntaler er 1. november, men vi begynner å sende ut aksepter før dette. Det kan altså hende at du får svar før 1. november, spesielt dersom du har sendt inn tdilig og/eller er utenbys fra.</p>

<h2>Nettsidene</h2>

<h4>Q: Jeg tror jeg har funnet en bug på nettsidene deres - hva gjør jeg?</h4>
<p>A: Vi blir veldig glade dersom du gir oss beskjed om dette, enten ved å legge inn en bugrapport på issue trackeren vår på <a href="http://github.com/smidig/smidig-conference/issues#list">github</a> eller ved å send en mail til kontakt@smidig.no.</p>

<h2>Billetter</h2>

<h4>Q: Jeg vil gjerne komme på konferanse, men får bare vært med en av dagene. Kan jeg få billett til redusert pris?</h4>

<p>A: Nei. Billettene til Smidig-konferansen er såpass billige i utgangspunktet at det allerede er flere som betaler full pris, men bare er her en av dagene. I tillegg ville dette skape masse ekstra administrasjon for oss, derfor har vi valgt å si nei til dette.</p>

<h4>Q: Hvorfor må jeg betale med kort? Arbeidsgiveren min skal jo betale for konferansen!</h4>

<p>A: Vi foretrekker at du betaler med kort fordi dette er minst administrasjonsarbeid for oss. Smidig-konferansen er en konferanse drevet 100% av frivillige ildsjeler på fritiden, og da må vi forsøke å minimere mengden manuelt arbeid. Du kan derfor betale med kort, og så få refusjon av arbeidsgiver dersom denne betaler for konferansen. Dersom dette er helt umulig for deg, kan du vente en stund, logge inn igjen og be om faktura under “Min påmelding”.</p>

<h4>Q: Jeg er en arbeidsgiver som skal melde på fem eller flere deltakere, og jeg synes dette er veldig tungvint. Dessuten vil jeg gjerne ha en samlefaktura. Kan dere fikse dette?</h4>

<p>A: Jada, det kan vi. Send oss en mail på kontakt@smidig.no med deltakerne og adressen dette skal faktureres på, så ordner vi det. For hver deltaker må du angi navn, telefonnummer, mailadresse og hvorvidt vedkommende skal være med på middagen.</p>

<h4>Q: Jeg er en arbeidsgiver som gjerne vil kjøpe billetter til konferansen, men jeg vet ikke hvilke av mine ansatte som får dra enda. Tilbyr dere ikke-navngitte billetter?</h4>

<p>A: Nei, det gjør vi ikke, da dette ville lage ekstra administrasjon hos oss. Derimot tilbyr vi å bytte navn på billettene, så vi foreslår at du bare melder på noen og evt endrer senere.</p>

<h2>Sponsorer</h2>

<h4>Q: Min bedrift vurderer å sponse Smidig-konferansen. Er det for sent nå?</h4>

<p>A: Det er aldri for sent å gi oss penger. ;-)
<%= link_to "Les mer om sponsing her", :action => 'sponsor' %>,
og send oss en mail på kontakt@smidig.no dersom det fremdeles høres interessant ut.</p>

<h4>Q: Hvorfor tilbyr dere ikke stands for sponsorer?</h4>

<p>A: Vi ønsker at deltakerne våre skal snakke sammen og dele sine erfaringer i pausene, ikke spille minigolf eller gjette hvor mange kuler det er i en bolle. Prisen på sponsoratet vårt er også lavere enn på konferanser som tilbyr stand.</p>


<h2>Annet</h2>

<h4>Q: Jeg fikk ikke svar på det jeg lurte på. </h4>

<p>A: Ta kontakt med kontakt@smidig.no, så skal vi gi deg tilbakemelding så fort vi kan.</p>
