<% content_for :title, "Smidig 2010 - 16. og 17. november - Radisson Blu" %>
<div id="fronthead">
    <h2 class="page_title">Få med deg høydepunktene fra Smidig 2010</h2>
    <h3></h3>
</div>

<div class="chunk general row one">
<p>Norges største smidig-konferanse er nå avsluttet. Vårt unike format med tre parallelle sesjoner gjør det umulig for deltakerne å få med seg alle 72 foredrag under selve konferansen. Dette tvinger deg som deltaker, til å prioritere de foredragene du tror, vil gi deg størst verdi. Har du valgt feil? Fikk du ikke muligheten til å delta i år? Fortvil ikke, vi har i år, som i fjor, fått hjelp av Cisco til å filme alle foredragene. 
<a href="http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&category:B0C04952-0661-46CE-9848-983834DF160D"> Se foredragene fra Smidig 2010 her</a>.</p>
</div>


<div class="row two">
<div class="chunk signup">
<h2>Topp 10 foredrag fra konferansen</h2>
  <p>Dette er de foredragene som publikum stemte frem som de ti beste. De er satt opp i alfabetisk rekkefølge.</p>
    <ul>
        <li>Andreas Larsson: <a href="http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&id:728922D9-1061-4973-804A-CA3CFA28CEF7" target="_blank">Om det fungerar - gör mer av det!</a></li>
        <li>Arnulf Krokeide: <a href="http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&id:E8431FDF-5AF8-4B66-88EC-D3B2C8939837" target="_blank">Arkitekt eller vaktmester</a></li>
        <li>Christin Gorman: <a href="http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&id:3E46970A-B840-482E-A245-7D325F975F4E" target="_blank">Det er gjerne de smarteste folkene som innfører de verste byråkratiene - i kode så vel som ellers i samfunnet</a></li>
        <li>Eirik Bjørsnøs: <a href="http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&id:E31F6FF7-7BE7-4542-A564-7F2C26F501F8" target="_blank">Så du tror du kan teste?</a></li>
        <li>Ellen D. Varsi: <a href="http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&id:8718BBDE-E5BB-4533-A291-CF2694C9E704" target="_blank">Riktig kvalitet i leveransene kommer ikke av seg selv</a></li>
        <li>Espen Dalløkken: <a href="http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&id:2B6F20AE-1F14-4403-82E1-8C9EF71310EA" target="_blank">Det er nå morroa begynner!</a></li>
        <li>Jan-Erik Carlsen: <a href="http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&id:171BC2B8-5BFF-48A9-988D-D2AFE8F66F3F" target="_blank">Stretching for stive kropper</a></li>
        <li>Karianne Berg: <a href="http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&id:762BD88A-9780-471F-892F-6569CE13701F" target="_blank">Skyt prosjekthelten!</a></li>
        <li>Klara Vatn: <a href="http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&id:150EF0A2-F241-4F16-AD72-319826CC3849" target="_blank">Interaksjonsdesign + smidig metodikk = sant!</a></li>
        <li>Vivi-Ann Ringnes: <a href="http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&id:CBA9B457-6834-4217-9B49-D93321FF639B" target="_blank">Scrumzilla vs. Designerdiva</a></li>
    </ul>
</div>


<div class="chunk lyntale">
        <h2><%= link_to "Programmet", :controller => 'program' %></h2>
    <p>Smidig 2010 har over 70 lyntaler med mange spennende temaer, open spaces, paneldebatt og mer. Her kan du se <%= link_to "programmet for Smidig 2010", :controller => 'program' %>.</p>
</div>
</div>
<div class="row three">
    <div class="chunk hvaskjer">
        <h2>Følg med</h2>
        <p>Følg @smidig på <%= link_to "twitter", twitter_url %>, og still spørsmål eller kom med forslag ved å melde deg inn i google gruppen/mailinglisten <%= link_to "smidigkonferansen", mailingliste_url %>.</p>
</div>

    <div class="chunk tidligere">
        <h2>Gamle godbiter</h2>
    <p>Se videoene fra <a href='http://smidig2007.confreaks.com'>2007</a>, <a href='http://smidig2008.confreaks.com'>2008</a> og <a href='http://streaming.java.no/tcs/#page:recordingList&pageNumber:1&category:724A69A7-BC3D-4056-8A6E-AC441791A484'>2009</a> for en smakebit på hva du kan oppleve.</p>
    </div>
</div>
