<% content_for :title, "Smidig 2010 - 16. og 17. november - Radisson Blu" %>
<h2 class="page_title">Norges største agile konferanse</h2>
<div class="timeline">
    <h3>16. - 17. november</h3>
    <p>På SAS-hotellet i Oslo får du oppleve over 70 lyntaler og 100 diskusjonsgrupper om smidig utvilking, prosjektledelse, testing, bedriftsledelse og design. <%= link_to 'Les mer om konferansen', :controller => 'info', :action => 'om_konferansen' %>.</p>

</div>

<h2>Siste sjanse for å foreslå lyntale</h2>
<div class="timeline">
    <h3>1. november</h3>
    <p><a href="http://forum.smidig.no/forums/11">Vær med på å bestemme de forhåndsdefinerte kategoriene</a>, <%=link_to "les om lyntalene som er allerede foreslått", :controller => 'talks', :action => 'index' %> og <strong><%=link_to "foreslå din egen lyntale", new_talk_path %></strong>.</p>
</div>

<h2>Early-bird deadline</h2>
<div class="timeline">
    <h3>15. september</h3>
    <p>Early-bird billetter kjøpes til 1875,- frem til 30. september.  Etterpå gjelder ordinærpris av 2750,-. <strong><a href="signup">Meld deg på nå!</a></strong></p>
</div>

<h2>De første årene</h2>
<div class="timeline">
    <h3>2007 - 2009</h3>
    <p>Se videoene fra <a href='http://smidig2007.confreaks.com'>2007</a>, <a href='http://smidig2008.confreaks.com'>2008</a> og <a href='http://tcs.java.no/'>2009</a> for en smakebit på hva du kan oppleve.</p>
</div>