        <% content_for :title, "Smidig 2011: 14. - 15. november på Radisson BLU Plaza Hotel Oslo" %>

        <div id="frontpage_header">
            <h1><span>Smidig</span> <span>2011</span></h1>

            <div id="purpose">
                <p>Hva er smidig? <br/>Smidig er en familie med metodikker for IT-utvikling. Hovedkjennetegn er kontinuerlig forbedring, hyppige leveranser, endringsdyktighet og fokus på individer og samspill.</p>

              <p>Smidig 2011 gikk av stabelen 14.-15. november. Sa samlet 400 personer med interesse for å forbedre programvareutvikling seg på Hotell Plaza i Oslo. Foredragene ligger ute på <a href="http://vimeo.com/tag:smidig2011">video</a>.</p>

	      <p>Arrangementskomiteen vil takke alle deltakerne og deres bidrag til å øke vår kollektive kunnskap om smidige metoder. Vi elsker å se deres engasjerte open space-diskusjoner! Takk til foredragsholderne, keynotes og workshop-organisatorer, dere gjorde en flott og viktig jobb. Ses til neste år for <a href="http://smidig2012.no">Smidig 2012</a>.</p>
            </div>
        </div>

        <div id="content">
            <div class="signup">
                <h3><a href="http://vimeo.com/tag:smidig2011">Se videoene fra Smidig 2011</a></h3>
                <p>Se videoene fra konferansen.</p>
            </div>

             <div class="faq">
                <h3><%= link_to "FAQ", :controller => "info", :action => "faq" %></h3>
                <p>Har du noen spørsmål eller er du bare nysgjerrig? Ta en titt på våre ofte besvarte spørsmål.</p>
            </div>

            <div class="links">
                <h3><a href="http://vimeo.com/smidig">Se video fra tidligere konferanser.</a></h3>
                <p>Videoene fra alle tidligere konferanser er også tilgjengelig. Her finner du nesten 200 foredrag, hver på 10 minutter. Det blir nesten halvannet døgn med video!</p>
            </div>

        </div>

        <div id="twitterfeed">
          <style>
            #twitterfeed { margin-left: 251px; border-left: 2px solid white; padding-left: 14px; }
            #twitterfeed h3 { font-size: 2.5em !important; }
            #twitterfeed .twtr-tweet-text p, .twtr-join-conv { font-size: 14px; font-family: TitilliumText22LRegular; }
            #twitter-icon { float: left; margin-left: -56px; }
          </style>
          <img id="twitter-icon" alt="" src="images/deltakerliste.png"/>
          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
            new TWTR.Widget({
              title: 'Nyheter fra Smidigkonferansen',
              version: 2, type: 'list', rpp: 20, interval: 30000, width: 450, height: 170,
              theme: {
                shell: {background: '#110039', color: '#eee'},
                tweets: {background: '99', color: '14', links: '81'}
              },
              features: {scrollbar: true, loop: false, live: true, behavior: 'all'}
            }).render().setList('smidig', 'smidig').start();
          </script>
          <script type="text/javascript"></script>
        </div>


