        <% content_for :title, "Smidig 2011: 14. - 15. november på Radisson BLU Plaza Hotel Oslo" %>

        <div id="frontpage_header">
            <h1><span>Smidig</span> <span>2011</span></h1>

            <div id="purpose">
                <p>Smidig er en familie av metodikker for IT-utvikling. Hovedkjennetegn er kontinuerlig forbedring, hyppige leveranser, endringsdyktighet og fokus på individer og samspill.</p>

                <p>Vi tror at IT-prosjekter i Norge kan lære mye av <a href="http://agilemanifesto.org">prinsippene bak smidig utvikling</a>. Derfor arrangerer frivillige entusiaster for 5. år på rad Smidig-konferansen for å dele erfaringer og bidra til å øke kunnskapen om smidige metoder i Oslo og Norge.</p>
            </div>
        </div>

        <div id="dateandtime">
            <h2 class="calendar"><a href="https://www.google.com/calendar/event?action=TEMPLATE&tmeid=ZW5uazNjdWs4NWVqYjdnYWhoYTNxcDQ1b2cgc21pZGlnLm5vX2E5NWZ1dm9yMTNoMHE1amZhYzNucjZzZGU4QGc&tmsrc=smidig.no_a95fuvor13h0q5jfac3nr6sde8%40group.calendar.google.com">14. - 15. november</a></h2>

            <h2 class="map"><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=radisson+blu+plaza+hotel+oslo&aq=&sll=59.927924,10.831824&sspn=0.109242,0.308647&ie=UTF8&hq=radisson+blu+plaza+hotel+oslo&ll=59.912891,10.756216&spn=0.013661,0.038581&z=15&iwloc=A&cid=16952836887241703173">Radisson Blu Plaza Hotel, Oslo</a></h2>
        </div>

        <div id="content">
            <div id="sponse">
                <h3><a class="epost" href="mailto:kontakt@smidig.no">Bli med å sponse konferansen.</a></h3>
                <p>Send et sterkt signal om at din bedrift stiller seg bak bevegelsen for smidige metoder og støtter opp under det frivillige initiativet som er drivkraften bak Smidig-konferansene.</p>
            </div>

            <div id="deltakerliste">
                <h3><a href="http://groups.google.com/group/smidigkonferansen">Meld deg på mailinglista.</a></h3>
                <p>Still spørsmål, bli informert, bli inspirert og bidra til å bedre vår forståelse av smidig og hva som fungerer.</p>
            </div>

            <div id="links">
                <h3><a href="http://streaming.java.no/tcs/#page:recordingList&amp;pageNumber:1&amp;category:B0C04952-0661-46CE-9848-983834DF160D">Se video fra fjorårets konferanse.</a></h3>
                <p>Lyst til å oppleve på forskudd litt av det du kan forvente på konferansen i år?</p>
            </div>

        </div>