        <% content_for :title, "Smidig 2011: 14. - 15. november på Radisson BLU Plaza Hotel Oslo" %>

        <div id="frontpage_header">
            <h1><span>Smidig</span> <span>2011</span></h1>

            <div id="purpose">
              <p>Foredragene ligger ut på video. Sjekk dem <%= link_to "her", "http://vimeo.com/tag:smidig2011" %>! Takk til alle deltakerne og deres bidrag til å øke vår kollektive kunnskap om smidige metoder. Vi elsker å se deres engasjerte open space-diskusjoner! Takk til foredragsholderne, keynotes og workshop-organisatorer, dere gjorde en flott og viktig jobb. Ses til neste år, Smidig2012 :) </p>
                <p>Hva er smidig? <br/>Smidig er en familie med metodikker for IT-utvikling. Hovedkjennetegn er kontinuerlig forbedring, hyppige leveranser, endringsdyktighet og fokus på individer og samspill.</p>
<!--
                <p>Vi tror at IT-prosjekter i Norge kan lære mye av <a href="http://agilemanifesto.org">prinsippene bak smidig utvikling</a>. Derfor arrangerer frivillige entusiaster for 5. år på rad Smidig-konferansen for å dele erfaringer og bidra til å øke kunnskapen om smidige metoder i Oslo og Norge.</p>
-->
            </div>
        </div>

        <div id="dateandtime">
            <h2 class="calendar"><a href="https://www.google.com/calendar/event?action=TEMPLATE&amp;tmeid=ZW5uazNjdWs4NWVqYjdnYWhoYTNxcDQ1b2cgc21pZGlnLm5vX2E5NWZ1dm9yMTNoMHE1amZhYzNucjZzZGU4QGc&amp;tmsrc=smidig.no_a95fuvor13h0q5jfac3nr6sde8%40group.calendar.google.com">14. - 15. november</a></h2>

            <h2 class="map"><a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=radisson+blu+plaza+hotel+oslo&amp;aq=&amp;sll=59.927924,10.831824&amp;sspn=0.109242,0.308647&amp;ie=UTF8&amp;hq=radisson+blu+plaza+hotel+oslo&amp;ll=59.912891,10.756216&amp;spn=0.013661,0.038581&amp;z=15&amp;iwloc=A&amp;cid=16952836887241703173">Radisson Blu Plaza Hotel, Oslo</a></h2>
        </div>

        <div id="content">
            <div class="signup">
                <h3><%= link_to "Meld deg på", new_user_path %></h3>
                <p><%= link_to "Meld deg på som deltager", new_user_path %> nå og opplev den femte Smidig-konferansen!</p>
            </div>

             <div class="faq">
                <h3><%= link_to "FAQ", :controller => "info", :action => "faq" %></h3>
                <p>Har du noen spørsmål eller er du bare nysgjerrig? Ta en titt på våre ofte besvarte spørsmål.</p>
            </div>

            <div class="links">
                <h3><a href="http://vimeo.com/smidig">Se video fra tidligere konferanser.</a></h3>
                <p>Lyst til å oppleve på forskudd litt av det du kan forvente på konferansen i år?</p>
            </div>

        </div>

        <div id="twitterfeed">
          <style>
            #twitterfeed { margin-left: 251px; border-left: 2px solid white; padding-left: 14px; }
            #twitterfeed h3 { font-size: 2.5em !important; }
            #twitterfeed .twtr-tweet-text p, .twtr-join-conv { font-size: 14px; font-family: TitilliumText22LRegular; }
            #twitter-icon { float: left; margin-left: -56px; }
          </style>
          <img id="twitter-icon" alt="" src="images/deltakerliste.png"/>
          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
            new TWTR.Widget({
              title: 'Nyheter fra Smidigkonferansen',
              version: 2, type: 'list', rpp: 20, interval: 30000, width: 450, height: 170,
              theme: {
                shell: {background: '#110039', color: '#eee'},
                tweets: {background: '99', color: '14', links: '81'}
              },
              features: {scrollbar: true, loop: false, live: true, behavior: 'all'}
            }).render().setList('smidig', 'smidig').start();
          </script>
          <script type="text/javascript"></script>
        </div>


