<% content_for :title, "Smidig 2010 - 16. og 17. november - Radisson Blu" %>

<div id="info-basic">
	<strong>Velkommen til Smidig2010!</strong><br/>
	Oslo, 16.-17. november<br/>
	Radisson Blu, Holbergs Plass
</div>

<br/><br/>

<div id="info-price">
	<strong>Billett</strong><br/>
	1875,- starttilbud frem til 30. september<br/>
	2750,- ordinærpris
	<br/><br/>
	<a href="signup"><strong>Meld meg på!</strong></a>
</div>

<br/><br/>

<div id="info-benefits">
	<strong>Innhold</strong><br/>
	Smidig konferansen vil gi deg en unik mulighet til å lære og utveksle erfaringer om smidig med andre. Smidig konferansen byr på:<br/>
	<ul>
		<li><strong>Over 70 foredragsholdere</strong> som vil fortelle deg om sine dårlige og gode erfaringer med Smidig. De snakker hver i 10 minutter slik at du kan høre om mange tema, og foredragsholder må spisse budskapet.</li>
		<li><strong>Over 100 diskusjonsgrupper</strong> hvor du kan lære, diskutere eller teste ideer på andre i din situasjon. Diskusjonsgruppene baserer seg på emner foreslått av deltakerne og er gjerne resultat av noe man har hørt i et foredrag.</li>
	</ul>
</div>

<div id="info-history">
	<strong>Historien</strong>
	<p>
		2010 er 4. året konferansen avvikles og hvert år har man klart å samle over 300 deltakere, entusiaster og nybegynnere til 2 innholdsrike dager.
	</p>
	<p>
		De 3 siste årene har foredragene blitt filmet slik at man også kan får noe av erfaringen repetert eller se den for første gang dersom man
		ikke hadde mulighet til å delta. Her kan du se de fleste opptakene: <a href="">Video Lyntaler</a> .
	</p>
</div>