<%= content_for :title, "Keynotes" %>
<h3 style="border-bottom: 3px solid silver">Dag 1</h3>

<p style="font-style: italic;">Åprets konferanse åpnes med en keynote fra Bjarte Bogsnes. Bogsnes jobber til daglig for Statoil og har mer en 20 års erfaring fra bransjen, både nasjonalt og internasjonalt.</p>

<h4>Beyond Budgeting - en styringsmodell som tar virkeligheten på alvor.</h4>

<ul>
<li>Hva er problemet med tradisjonell styring, inkludert budsjettering?</li>
<li>Hva er Beyond Budgeting?</li>
<li>Statoils modell "Ambition to action"</li>
<li>Relative mål og dynamisk ressursallokering</li>
<li>Holistisk prestasjonsevaluering</li>
<li>Neste steg - farvel til kalenderen</li>
<li>Praktiske implementeringsråd</li>
</ul>
<br /><br />

<h3 style="border-bottom: 3px solid silver">Dag 2</h3>
<p style="font-style: italic;">Vi avslutter årets konferanse med en Keynote fra Jurgen Apello. Han er blant annet kjent for å nylig ha gitt ut boken <a href="http://www.management30.com/introduction/">Management 3.0: Leading Agile Developers, Developing Agile Leaders</a> og forfatteren bak den populære bloggen <a href="http://NOOP.NL">NOOP.NL</a></p>

<h4>How to Change the World</h4>
<ul>
<li>How do I make my managers more Agile?</li>
<li>How can I convince developers to educate themselves?</li>
<li>How can I make customers more cooperative?</li>
<li>How do I start a European network of Agile and Lean practitioners?</li>
</ul>

<p>
When transforming organizations and other social systems people usually encounter obstacles. And these obstacles very often involve changing other people’s behaviors. Of course, we cannot really _make_ people behave in a different way. We also cannot really make people laugh, and we cannot really make people happy. But… we can certainly try!

This session is about Change Management 3.0. It is a new change management “super model” which views organizations as complex adaptive systems and social networks. The Change Management 3.0 supermodel wraps various existing models (PDCA, ADKAR, Adoption Curve and The 5 I's). It lists a few dozen hard questions that can help people in their attempts to change the behaviors of other people in an organization and beyond. No matter whether you are a manager, Scrum Master, Product Owner, software developer or writer, anyone will find it useful to know how to change the world around them.</p>
