<% content_for :title, "Om konferansen" %>

<h2><%= link_to "Ofte besvarte spørsmål", :controller => 'info', :action => 'faq' %></h2>

<p><em>Har du andre spørsmål? Se vår liste over
<%= link_to "ofte besvarte spørsmål", :controller => 'info', :action => 'faq' %>
</em></p>

<h2 class="page_title">Om konferansen</h2>


<p>Fagmiljøet rundt smidige metoder i Oslo er blant verdens mest aktive.  Vi har flere scrummastere og smidige prosjekter per innbygger enn noe annet sted i verden. Dette gjør sitt til at det er utrolig mange mennesker i byen som har erfaringer med smidige metoder og som har noe å dele med andre.  Smidig-konferansene er et forum der vi setter fokus på denne erfaringen.</p>




<p>Smidig 2011 er et tverrfaglig initiativ for alle som jobber med IT-prosjekter. Konferansen arrangeres av <%= link_to "frivillige entusiaster", :controller => 'info', :action => 'arrangoerene' %> fra forskjellige fagmiljøer med en felles interesse for smidige metoder, og støttes av et bredt spekter av bedrifter.  For fjerde gang inviterer entusiaster i fagmiljøet til Smidig-konferansen som avholdes 14. til 15. november på <a href="http://maps.google.com/?q=radisson+blu+plaza+hotel+oslo">Radisson BLU Plaza Hotel Oslo</a>.</p>


<h2>Vårt unike format</h2>

<p>
  Begge konferansedagene følger samme format: Lyntaler (korte, erfaringsbaserte foredrag) før lunsj og diskusjonsgrupper (open space) etter lunsj.
  Hver lyntale er på ti minutter, så i løpet av formiddagen vil du få høre lyntaler fra tolv personer.
  I Open Space etter lunsj stemmer deltakerne selv fram hvilke temaer de ønsker å fordype seg i og
  jobber så med disse problemstillingene i mindre grupper.
  Enkle regler sikrer interaktivitet og faglig utbytte for deltakerne.
</p>


<h3>Lyntaler</h3>

<%= floating_text_box "Du kan se video av alle foredragene fra <a href='http://tcs.java.no/'>Smidig 2009</a>, <a href='http://smidig2008.confreaks.com'>Smidig 2008</a> og <a href='http://smidig2007.confreaks.com'>Smidig 2007</a> online." %>


<p>Lyntaler (”lightning talks” på engelsk) er tapas i foredragsholdernes verden: man får mange impulser fra mange forskjellige folk.  På Smidig 2011 er tidsbegrensning til lyntaler ti minutter.  Dette inspirerer foredragsholderne til å destillere budskapet sitt ned til det aller viktigste, og fjerne alle unødvendige deler. Dette er fordelaktig for deg som hører på.</p>



<h3>Open space</h3>

<p>I Open space, en type diskusjonsgruppe, dykker man dypere ned i de temaene deltakerne selv synes er mest interessante. Legenden sier at ideen til Open Space ble født av observasjonen om at på tradisjonelle konferanser er det ofte diskusjonene i kaffepausen som er mest givende. Tanken er å sette rammer som gjenskaper denne stemningen hvor man deler erfaringer og lærer av hverandre.  Med inspirasjon fra lyntalene, eller med fokus på akkurat det problemet du sliter med i din organisasjon, har du en unik mulighet til å diskutere temaet nærmere med andre som har tilsvarende interesser og problemstillinger.</p>

<p>En bestemt prosess med enkle regler sørger for at man finner de beste temaene og at arbeidet blir fruktbart. En Open Space-sesjon starter med at man setter et overordnet tema, i vårt tilfelle smidig systemutvikling. Deretter får deltakerne mulighet til å foreslå mer spesifikke problemstillinger de ønsker å arbeide med, og man finner et tidsvindu og en lokasjon for hvert tema.</p>


