<% content_for :title, "Bruk av epostadresser" %>
<h2 class="page_title">Bruk av din epostadresse</h2>

<p>Vi vil kun bruke din epostadresse til å sende deg følgende informasjon:</p>

<ul>
  <li>Bekreftelse på din registrering</li>
  <li>Viktig praktisk informasjon om konferansen</li>
  <li>Påminnelse om konferansen når datoen nærmer seg</li>
  <li>Hvor du kan finne videoer, bilder og mer informasjon fra konferansen</li>
</ul>

<p>Dersom du gir ditt samtykke til å motta informasjon om andre relevante arrangementer vil du i tillegg motta:</p>

<ul>
  <li>Informasjon om relevante konferanser</li>
  <li>Informasjon om møter i relevante faggrupper</li>
</ul>

<h3>Avmelding</h3>

<p>Du vil motta informasjon om konferansen så lenge du er påmeldt. Dersom du melder deg av konferansen vil du ikke lenger motta informasjon om konferansen.</p>

<p>Du kan når som helst reservere deg mot informasjon om andre relevante arrangementer ved å <%= link_to 'redigere profilen din', current_users_path %> eller klikke på "avmelde"-lenken i selve eposten.</p>
