<% content_for :title, "Om arrangørene" %>
<h2 class="page_title">Om sidene</h2>

<p>Innholdet av disse sidene med unntak av sponsorlogene er lisensiert under <a href="http://creativecommons.org/licenses/by-sa/3.0/no/">Navngivelse-DelPåSammeVilkår 3.0 Norge</a> lisensen.</p>

<p>Fontene <a href="http://www.fontsquirrel.com/license/Blackout">Blackout</a>, <a href="http://www.fontsquirrel.com/license/League-Gothic">League-Gothic</a> og <a href="http://www.fontsquirrel.com/license/Raleway">Raleway</a> er lisensiert under SIL Open Font-lisensen.</p>