<% content_for :title, "Sponse Smidig 2011" %>
<h2 class="page_title">Informasjon til sponsorer</h2>

<p>Ta kontakt med <a href="mailto:kontakt@smidig.no">kontakt@smidig.no</a> dersom din bedrift er interessert i få vite mer om å sponse Smidig 2011.</p>

<p>Konferansen arrangeres av frivillige entusiaster, og finansieres av deltageravgift og sponsormidler fra firmaer som ønsker økt fokus på smidige metoder. I dagens markedssituasjon synes fokuset på smidig systemvikling å være enda viktigere enn tidligere. Sponsorene av Smidig 2011 viser at de satser på metoder som gir kostnadseffektivitet og god kvalitet. Tidligere konferanser har hatt mange deltagere fra viktige kunder som NRK, NAV, BBS, DnB NOR, Statens Pensjonskasse og Finn.no.</p>

<p>Smidige metoder ikke er én enkelt bedrifts kommersialiserte tanker og ideer, men derimot tankegodset til en hel bevegelse innenfor IT. Dette er også utgangspunktet for Smidig 2011. Vi ønsker at konferansen skal forbli et spleiselag, hvor alle sponsorer blir tilegnet like mye plass og oppmerksomhet. Sponsorene av Smidig 2011 sender et sterkt signal om at de stiller seg bak bevegelsen for smidige metoder og støtter opp under det frivillige initiativet som er drivkraften bak arrangement. Alle sponsormidlene går direkte inn i konferansens drift.</p>

<p>Sponsorene går inn med kroner 25 000,- hver og får for dette følgende:</p>

<ul>
  <li>Bedriftens logo på konferansens hjemmeside</li>
  <li>Bedriftens logo på alle trykksaker til konferansen (plakater, flyveblader, program)</li>
  <li>Bedriftens logo på eventuell annonsering, for eksempel i Computerworld</li>
  <li>Hederlig omtale i konferansens åpningstale</li>
  <li>Rett til å benytte Smidig 2011 i bedriftens markedsføring</li>
  <li>To deltakerbilletter til konferansen</li>
  <li>Mulighet til å ha en pullup i fellesrom under konferanse</li>
  <li>Mulighet til å gjøre ett A4-ark med informasjon om bedriften tilgjengelig for alle deltakerne under konferansen</li>
</ul>
