<% content_for :title, "Spre ordet" %>
<h2 class="page_title">Hvordan spre ordet</h2>

<p>
  Smidig 2011 er en konferanse som er drevet på frivillig basis. For at
  konferansen skal bli vellykket, trenger vi all hjelp vi kan få til å
  spre informasjon om konferansen. Slik kan du hjelpe:
</p>

<h3>Snakk med dine venner</h3>

<p>
  Den mest effektive måten å få spredd ordet om konferansen er via
  direkte kontakt. Det er mange som ikke har hørt om konferansen
  eller som ikke vet om den arrangeres igjen i år. Ved å ta kontakt,
  kan du glede en kollega og hjelpe konferansen å bli mer vellykket.
  Dersom du ønsker inspirasjon, har vi skrevet <%= link_to "en mal
  til en mail", :controller => 'info', :action => 'direkte_mail' %>
  som du kan benytte.
</p>

<h3>Heng opp plakaten vår</h3>
<p>
  Last ned vår plakat i PDF-format, print den ut og heng den opp
  på arbeidsplassen din. Husk at det er enda hyggeligere å ha med
  seg kolleger og kunder på konferanse!

  Plakaten finner du <%= link_to("her", "/images/posters/Smidig_2011_plakat.pdf") %>
</p>

<h3>Nevn oss i ditt foredrag</h3>

<p>
  Skal du holde foredrag på en annen konferanse? Kanskje du kan nevne
  at du skal komme eller snakke på Smidig 2011. 
</p>

<p>Hjelp til med å spre ordet på Twitter: <span style="margin-left: 1em"><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://smidig2011.no/" data-text="Jeg skal på Smidig 2011. Bli med!" data-count="horizontal" data-via="smidig">Tweet om oss!</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></span></p>
