<% content_for :title, "Spre ordet" %>
<h2 class="page_title">Hvordan spre ordet</h2>

<p>
  Smidig 2010 er en konferanse som er drevet på frivillig basis. For at
  konferansen skal bli vellykket, trenger vi all hjelp vi kan få til å
  spre informasjon om konferansen. Slik kan du hjelpe:
</p>

<h3>Send en mail til dine venner</h3>

<p>
  Den mest effektive måten å få spredd ordet om konferansen er via
  direkte kontakt. Det er mange som ikke har hørt om konferansen
  eller som ikke vet om den arrangeres igjen i år. Ved å ta kontakt,
  kan du glede en kollega og hjelpe konferansen å bli mer vellykket.
  Dersom du ønsker inspirasjon, har vi skrevet <%= link_to "en mal
  til en mail", :controller => 'info', :action => 'direkte_mail' %>
  som du kan benytte.
</p>

<h3>Nevn oss i ditt foredrag</h3>

<p>
  Skal du holde foredrag på en annen konferanse? Kanskje du kan nevne
  at du skal komme eller snakke på Smidig 2010. Benytt gjerne vår
  <a href="http://github.com/smidig/assets/raw/master/2010/smidig2010-speaker.ppt">Smidig 2010 slide</a>
  i ditt foredrag.
</p>
