<% content_for :title, "Informasjon til bidragsytere" %>
I år har vi valgt å endre litt på formatet ved å innføre to nye typer sesjoner, tordentale og workshop. Dette gjør vi for å gi deltakerene våre på Smidig 2011 en mulighet til å utforske interessante tema i mer dybde, i tillegg til at vi selvsagt også holder på våre kjente suksessfaktorer som har vært lokale lyntaler og open spaces. Disse vil også ved årets konferanse være de viktigste komponentene.

<h2>Lyntale</h2>
<p>En lyntale (engelsk &laquo;lightning talk&raquo;) er et foredrag som varer i 1 til 10 minutter. Slike korte foredrag gjør at du får med deg informasjon om mange tema på kort tid. På Smidig 2011 kjører vi fem foredrag kjapt etter hverandre, for så å ta en pause.. På Smidig 2011 kjører vi fem foredrag i hver time-slot.</p>

<p><strong>Du får ikke lov til å snakke i mer enn ti minutter.</strong> Det vil være en klokke tilstede som startes idet du begynner å snakke, og den plasseres slik at du kan se den. Etter ti minutter vil denne klokken ringe. Da begynner publikum å klappe, og foredraget ditt er over, selv om du var midt i en setning. Du må derfor være nøye med å passe tiden, slik at publikum ikke går glipp av avsluttningen din. På en lyntale er det mye bedre å bruke ett minutt for lite enn ett for mye!</p>

<p><strong>Du får ikke bruke din egen PC.</strong> Grunnen til det er at vi har fire ti-minutters lyntaler på 45 minutter, og det gir oss veldig liten tid mellom hver lyntale til å bytte foredragsholder. Da har vi ikke tid til tekniske problemer.</p>

<p>Les forøvrig <a href="#generelle_krav">Generelle krav til din presentasjon</a>.</p>

<h2>Tordentale (Ny)</h2>
<p>En tordentale varer dobbelt så lenge som en lyntale, som betyr at du har 20 minutter på deg på å få frem ditt budskap. Dette gir deg som foredragsholder en unik mulighet til å gå litt mer i dybden på teamet du brenner for. Det er også viktig å bemerke seg at vi har betydelig færre plasser til tordentaler og stiller derfor mye strengere krav til ditt forslag til en tordentale enn til en lyntale. </p>

<p><strong>Du får ikke snakke i mer enn 20 minutter</strong>. Det stilles tilsvarende krav til framførelsen av lyntaler som innebærer at du ikke får lov til å bruke din egen pc, og du får ikke bruke ett sekund mer en 20 minutter.</p>

<p><strong>Du får ikke bruke din egen PC</strong>. Vi ønsker å utnytte tiden effektivt og ønsker derfor ikke at du stiller med egen pc.</p>

<p>Les forøvrig <a href="#generelle_krav">Generelle krav til din presentasjon</a>.</p>

<h2>Workshop (Ny)</h2>
<p>En workshop kan defineres til å være <em>et møte mellom en gruppe mennesker som deltar i diskusjoner og aktiviteter innenfor et spesifikt emne</em>. I år gir vi deg muligheten til å arrangere en workshop på Smidig 2011. Dette gjør vi for å prøve noe nytt og fordi vi vet det er mange av våre deltakere som elsker hands-on aktiviteter og diskusjoner. Å holde en workshop setter store krav til foredragsholderen og det forventes at det legges opp til stor interaktivitet mellom foredragsholder og deltakere. </p>

<p>
    For at vi skal få et godt bilde av workshoppen din ønsker vi i at du i ditt forslag tydelig beskriver:
    <ul>
        <li>Hva som trengs for å gjennomføre workshopen</li>
        <li>Hvor lenge varer den?</li>
        <li>hvordan du har tenkt å involvere deltakerene, og </li>
        <li>Hvor mange personer den passer workshoppen for</li>
    </ul>
</p>

<h2 id="generelle_krav">Generelle krav til presentasjonen</h2>
<p><strong>Pass på tiden.</strong>  En lyntale varer i 10 minutter og en tordentale varer i 20 minutter. Slik er det og det er din jobb å passe på å holde tiden. Det vil være en timer tilstede som tar tiden din.</p>

<p><strong>Du får ikke bruke din egen PC.</strong>Du får ikke lov å benytte egen PC på lyntaler og tordentaler. Vi kommer til å ha en PC med Powerpoint 2007 (eller senere) og OpenOffice 3 tilgjengelig i alle rom, og også Adobe Reader dersom du ønsker å ha presentasjonen din i PDF-format. Du kan med andre ord ikke bruke Keynote. PCen vil også ha en browser tilgjengelig om du har skrevet presentasjonen din i HTML. Du kan selvsagt også presentere uten slides dersom du ønsker det. Hvis du har noen spesielle behov ift. oppsett av PC, gi oss beskjed på <a href="mailto:kontakt@smidig.no">kontakt@smidig.no</a>.</p>

<p><strong>Du blir filmet.</strong> Filmene blir lagt ut på konferansens hjemmesider etter at arrangementet er over, slik at flere enn bare de som var på konferansen kan ha glede av det du har å dele. Det samme gjelder slidene dine. Filmene og slidene blir lisensiert med <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.no">Creative Commons BY-SA-lisens</a>.

<p><strong>Husk at alle skal kunne se alt på slidene dine.</strong> For at dette skal skje, er du nødt til å ha stor nok tekst og store nok figurer til at selv han som egentlig bruker briller på bakerste rad ser dem. Dette gjelder også om du har kode på slidene dine. Denne kan det i tillegg være en ide å ha syntax highlighting på, slik at den blir lettere å lese.</p>


<h3>Tips til forberedelse</h3>
<p>Mange synes at det å forberede seg til korte presentasjoner (lyntaler og tordentaler) er litt annerledes enn å forberede seg til en times presentasjon. Her er noen tips.</p>

<p><strong>Øv.</strong> Det aller beste tipset vi kan gi er at du øver på presentasjonen din. Husk at den bare er på ti minutter, så det å øve tar ikke så lang tid som man kanskje skulle tro. Når du øver vil du også se hvor lang tid du bruker, slik at du kan tilpasse lengden på foredraget ditt til å passe inn i 10-minuttersrammen.</p>

<p><strong>Kutt nådeløst.</strong> Når du lager presentasjonen, vil du ofte se at du har mer stoff enn du får til å passe inn i 10 minutter. Da gjelder det å svinge kniven på poengene dine. Ikke løs tidsproblemet med å snakke fortere (med mindre du snakker veldig sakte i utgangspunktet), løs det ved å stadig kutte ut det minst interessante du sier til du får riktig lengde. Det er ofte bedre å kutte i antall poeng enn å kutte i hvor mye du sier på hvert poeng. Du trenger ikke å si alt&mdash;spar litt til Open Space-sesjonene etterpå!</p>

<p><strong>Ha fokus.</strong> 10 minutter er ikke så veldig mye tid, men det betyr ikke at du ikke kan få sagt noe viktig, det betyr bare at du gjerne ikke rekker å si alt. Det er viktig at du har et tema som passer inn i formatet. Du kommer ikke til å rekke å si alt du vet om for eksempel enhetstesting, men du kommer kanskje til å rekke å fortelle om de tre viktigste tingene du har lært om det. </a>

<p><strong>La slidene dine backe deg opp, ikke omvendt.</strong> Ikke skriv nesten alt du skal si på slidene dine&mdash;de er der som en hjelp til publikum for å forstå og huske poengene dine bedre, ikke som en huskelapp til deg. Trenger du en huskelapp, ha den på papir (med stor skrift) eller bruk notatfeltet i Powerpoint og <a href="http://cybernetnews.com/cybernotes-enable-presentation-mode-in-powerpoint/">presenter mode</a>.</p>

<p><strong>Lær av andre.</strong> Det er folk som har holdt gode lyntaler før deg. Hva med å få inspirasjon fra de som ble stemt frem av deltakerne som de beste lyntalene fra <a href="http://smidig2007.no/">Smidig 2007</a> (under &laquo;Videoene er nå lagt ut&raquo;), <a href="http://smidig2008.no/">Smidig 2008</a> (under &laquo;Konferansens beste foredrag&raquo;) eller <a href="http://smidig2009.no/">Smidig 2009</a> (under &laquo;Topp 15 lyntaler&raquo;)? Andre gode inspirasjonskilder er <a href="http://www.ted.com/talks">foredrag fra TED-konferansene</a> og <a href="http://www.presentationzen.com/">bloggen</a> og <a href="http://www.amazon.com/Presentation-Zen-Simple-Design-Delivery/dp/0321525655"> boken</a> <em>Presentation Zen.</em></p>
