<div id="header">
        <h1><a href="index.html"><img src="images/smidig-horizontal.png" alt="Smidig 2010" /></a></h1>
        <div id="menu">
            <ul>
                <li id="melddegpaa"><a href="melddegpaa.html">meld deg på</a></li>
                <li><a href="holdlyntale.html">hold lyntale</a></li>
                <li class="active">les mer</li>
                <li><a href="spreordet.html">spre ordet</a></li>
                <li><a href="sponse.html">sponse</a></li>
                <li><a href="diskuter.html">diskuter</a></li>
            </ul>
        </div>
    </div>
