<div id="sponsors">
	<a href="http://www.agilealliance.org"><img src="/images/logos/agilealliance.jpg" alt="Agile Alliance"/></a>
	<a href="http://www.avenir.no"><img src="/images/logos/avenir.gif" alt="Avenir"/></a>
	<a href="http://www.bekk.no"><img src="/images/logos/bekk.gif" alt="Bekk"/></a>
	<a href="http://www.bouvet.no"><img src="/images/logos/bouvet.gif" alt="Bouvet"/></a>
	<a href="http://www.conax.no"><img src="/images/logos/conax.gif" alt="Conax"/></a>
	<a href="http://www.computas.no"><img src="/images/logos/computas.gif" alt="Computas"/></a>
	<a href="http://www.iterate.no"><img src="/images/logos/iterate.gif" alt="Iterate"/></a>
	<a href="http://www.kantega.no"><img src="/images/logos/kantega.gif" alt="Kantega"/></a>
	<a href="http://www.sintef.no"><img src="/images/logos/sintef.gif" alt="Sintef"/></a>
  <a href="http://www.spk.no"><img src="/images/logos/spk.gif" alt="SPK"/></a>
	<a href="http://www.steria.no"><img src="/images/logos/steria.gif" alt="Steria"/></a>
	<a href="http://www.tandberg.no"><img src="/images/logos/tandberg.gif" alt="Tandberg"/></a>
	<a href="http://www.zenior.no"><img src="/images/logos/zenior.gif" alt="Zenior"/></a>
</div>
